﻿@model Planetshakers.Events.Mvc.Models.SponsorshipViewModel
@{
    ViewBag.Title = "Sponsorship";
}

<div class="row mx-0 px-2">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12 border-bottom">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <br />
        <div class="tab-content">
            <div class="tab-pane active show update-background px-2 px-lg-4">
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3" style="padding-top: 10px; text-align: center">
                                <label><strong>GOAL: $@Model.Paid.ToString("0.00") / $@Model.Goal.ToString("0.00") </strong></label>
                            </div>
                            <div class="col-lg-7" style="padding-top: 10px; text-align: center">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" @*aria-valuenow="@Model.Remaining" aria-valuemin="0" aria-valuemax="@Model.Goal"*@ style="width: @Model.percentage"></div>
                                </div>
                            </div>
                            <div class="col-lg-2" style="text-align: center">
                                @if (Model.Paid >= Model.Goal)
                                {
                                    <button class="btn btn-success" disabled> Sponsor Me!</button>
                                }
                                else
                                {
                                    <button class="btn btn-success" onclick="OpenSponsorship()"> Sponsor Me!</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <br />
            <div class="tab-pane active show update-background px-2 px-lg-4">
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <div>
                                    <img id="DisplayPicture" style="border-radius: 5px;" src="@Model.profile.PhotoURL" class="img-fluid mb-4" />
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label><strong>About Myself:</strong></label>
                                    </div><div class="col-lg-10" style="white-space: pre-wrap;" id="AboutMyself">
                                        @Model.profile.AboutMyself
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label><strong>Trip Story:</strong></label>
                                    </div><div class="col-lg-10" style="white-space: pre-wrap;" id="TripDetails">
                                        @Model.profile.TripDetails
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
@*outstanding modal*@
<div class="modal fade" id="sponsorModal" tabindex="-1" role="dialog" aria-labelledby="sponsorPayment" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="creditConfirmationTitle">Sponsorship for: @Model.Contact_Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*@using (Html.BeginForm("SponsorshipSummary", "Payment", FormMethod.Post, new { @id = "SponsorshipForm", @name = "SponsorshipForm" }))
        {*@
                @Html.Hidden("Event_ID", Model.Event_ID)
                @Html.Hidden("Contact_ID", Model.Contact_ID)
                <div class="row">
                    <div class="col-8">
                        Goal:
                    </div>
                    <div class="col-4">
                        @Html.TextBoxFor(x => x.Goal, new { @class = "form-control", disabled = "disabled", style = "margin-bottom: 5px" })
                    </div>
                    <div class="col-8">
                        Paid:
                    </div>
                    <div class="col-4">
                        @Html.TextBoxFor(x => x.Paid, new { @class = "form-control", disabled = "disabled", style = "margin-bottom: 5px" })
                    </div>
                    <div class="col-8">
                        Outstanding:
                    </div>
                    <div class="col-4">
                        @Html.TextBoxFor(x => x.Remaining, new { @class = "form-control", disabled = "disabled", style = "margin-bottom: 5px" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12">
                        <label><strong>Your Details</strong></label>
                        <br />
                    </div>
                    <br />
                    <div class="col-4">
                        <label>Donor's First Name:</label>
                        <span style="color: red;">*</span>
                    </div>
                    <div class="col-8">
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", style = "margin-bottom: 5px", required = "required" })
                    </div>
                    <div class="col-4">
                        <label>Donor's Last Name:</label>
                        <span style="color: red;">*</span>
                    </div>
                    <div class="col-8">
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", style = "margin-bottom: 5px", required = "required" })
                    </div>

                    <div class="col-4">
                        <label>Donor's Mobile Number:</label>
                        <span style="color: red;">*</span>
                    </div>
                    <div class="col-8">
                        @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", style = "margin-bottom: 5px", required = "required" })
                    </div>

                    <div class="col-4">
                        <label>Donor's Email:</label>
                        <span style="color: red;">*</span>
                    </div>
                    <div class="col-8">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", style = "margin-bottom: 5px", required = "required" })
                    </div>

                    <div class="col-4">
                        <label>Amount:</label>
                        <span style="color: red;">*</span>
                    </div>
                    <div class="col-8">
                        @Html.TextBoxFor(x => x.sponsoringAmount, new { @class = "form-control", style = "margin-bottom: 5px", required = "required" })
                        <div id="outstandingalert" style=" color:red; font-size: small">Minimum of AUD 2</div>
                    </div>

                    <div class="col-12" style="text-align: right;">
                        <label>Remain Annonymous to Recipient: </label><span style="color: red;">*</span>  @Html.CheckBoxFor(x => x.Annonymous)
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12">
                        <input id="returnurl" class="form-control" type="hidden" readonly="readonly" value="" />
                        <button style="width:100%" class="btn btn-warning" id="sponsorBtn" onclick="SponsorBtnClicked()">Sponsor</button>
                        @*<a id="payOutstandingbtn" href="@Url.Action("Sponsorship", "Payment")" style="margin-top:5px" class="btn btn-block btn-warning">Sponsor</a>*@
                    </div>
                </div>
                @* } *@
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.7.1.min.js")"></script>
<script>
    $(document).ready(function () {
        $("#sponsoringAmount").on("input", function () {
            console.log("update")
            var amount = parseInt($("#sponsoringAmount").val())
            var maxAmount = parseInt($("#Remaining").val())
            if (amount > maxAmount) {
                $("#outstandingalert").html("You cannot pay more than your current outstanding amount")
                $("#outstandingalert").show()
                $("#sponsorBtn").addClass("disabled")
            } else if (amount >= 2) {
                $("#outstandingalert").hide()
                $("#sponsorBtn").removeClass("disabled")
            } else {
                $("#outstandingalert").html("Minimum of AUD 2")
                $("#outstandingalert").show()
                $("#sponsorBtn").addClass("disabled")
            }
        })
        $("#sponsorBtn").addClass("disabled")

        var aboutme = $("#AboutMyself").html()
        aboutme = aboutme.replace('\n                                        ', '')
        $("#AboutMyself").html(aboutme)

        var tripdetail = $("#TripDetails").html()
        tripdetail = tripdetail.replace('\n                                        ', '')
        $("#TripDetails").html(tripdetail)

    })
    function OpenSponsorship() {
        var Contact_ID = $("#Contact_ID").val()
        var Event_ID = $("#Event_ID").val()
        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            url: "/Events/checkBalance",
            data: JSON.stringify({
                "Contact_ID": Contact_ID,
                "Event_ID": Event_ID,
            }),
            success: function (result) {
                console.log(result)
                if (result == "True") {
                    $('#sponsorModal').modal('show')
                } else {
                    alert("This missionary has already reached his/her funding goal.");
                    window.location.reload();
                }
            },
            error: function (result) {
                alert("Unable to process Sponsorship");
            }
        });
        
    }
    function SponsorBtnClicked() {
        $("#sponsorBtn").attr("disabled", true);
        var Contact_ID = $("#Contact_ID").val()
        var Event_ID = $("#Event_ID").val()
        var FirstName = $("#FirstName").val().trim()
        var LastName = $("#LastName").val().trim()
        var Mobile = $("#Mobile").val().trim()
        var Email = $("#Email").val().trim()
        var sponsoringAmount = $("#sponsoringAmount").val()
        var Anonymous = document.getElementById("Annonymous").checked

        var returnUrl = '';
        if ($('#returnurl').val() !== null) {
            returnUrl = '?returnUrl=' + $('#returnurl').val();
        }
        //authenticate all values 

        if (FirstName == "" || LastName == "" || Email == "" || Mobile == "") {
            alert("Please fill in all the required information")
            $("#sponsorBtn").attr("disabled", false);
        } else {
            $.ajax({
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                url: "/Events/SubmitSponsorship" + returnUrl,
                data: JSON.stringify({
                    "Contact_ID": Contact_ID,
                    "Event_ID": Event_ID,
                    "FirstName": FirstName,
                    "LastName": LastName,
                    "Mobile": Mobile,
                    "Email": Email,
                    "sponsoringAmount": sponsoringAmount,
                    "Anonymous": Anonymous,
                }),
                success: function (result) {
                    if (result.isSuccess) {
                        console.log(result);
                        window.location.href = result.value;
                    } else {
                        alert("Your sponsorship has exceeded this missionary's funding goal, or this missionary has already reached his/her funding goal.");
                        window.location.reload();
                    }
                },
                error: function () {
                    alert("Unable to process sponsorship.");
                }
            });
        }
    };
</script>


