﻿@model Planetshakers.Events.Mvc.Models.TripDetailViewModel
@using Planetshakers.Events.Mvc.Controllers;
@{
    ViewBag.Title = "Trip Details";
}

<div class="row mx-0 px-2">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12 border-bottom">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#panel-profile">Profile</a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#panel-docUpload">Required Documents</a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#panel-team">Team</a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#panel-hostEvent">Upcoming Events</a></li>
        </ul>
        <br />
        @if (ViewBag.Alert != null)
        {
            <div class="alert alert-success">@ViewBag.Alert</div>
            <br />
        }
        <div class="tab-content">

            @* ----------- profile ----------- *@
            <div class="tab-pane fade in active show update-background px-2 px-lg-4" id="panel-profile">
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset>
                            <legend>Profile</legend>
                            <br />
                            <div class="row">
                                <div class="col-lg-2">
                                    <label>Giving URL:</label>
                                </div><div class="col-lg-8" style="text-align: right; margin-bottom: 10px">
                                    @Html.TextBoxFor(x => x.URL, new { @class = "form-control", disabled = "disabled" })
                                </div>
                                <br />
                                <div class="col-lg-2 " style="text-align: right">
                                    <button class="btn btn-dark" onclick="copyToClipboard()">Copy Link</button>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <br />
                            <div class="row">
                                @Html.Hidden("ContactProfile_ID", Model.Profile.ContactProfile_ID)
                                @Html.Hidden("Contact_ID", Model.Contact_ID)
                                @Html.Hidden("Event_ID", Model.Event_ID)
                                <div class="col-lg-3">
                                    @*pull from S3 using URL*@
                                    <div>
                                        <img id="DisplayPicture" style="border-radius: 5px;" src="@Model.Profile.PhotoURL" class="img-fluid mb-4" />
                                        <button class="btn btn-black" onclick="openUploadModal()">Upload Picture</button>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <label>About Myself:</label>
                                        </div><div class="col-lg-10">
                                            @Html.TextAreaFor(x => x.Profile.AboutMyself, new { rows = "4", @class = "form-control" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <label>Trip Story:</label>
                                        </div><div class="col-lg-10">
                                            @Html.TextAreaFor(x => x.Profile.TripDetails, new { rows = "4", @class = "form-control" })
                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <div class="col-lg-12" style="text-align: right">
                                    <button class="btn btn-black" onclick="updateContactProfile(@Model.Event_ID, @Model.Contact_ID)">Save Changes</button>
                                </div>
                                <br />
                            </div>
                            <br />
                        </fieldset>
                    </div>
                </div>
            </div>
            @* - upload display picture modal -*@
            <div class="modal fade" id="uploadDpModal" tabindex="-1" role="dialog" aria-labelledby="uploadDP" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadDocType">Upload Picture </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="pic-notification" class="alert hidden"></div>
                            <form id="pic-upload" class="mb-2">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Picture:</label>
                                    </div>
                                    <div class="col-8" style="text-align: center">
                                        <input type="file" id="picFile" name="docfFile" value="UploadFile" accept=".png, .jpg, .jpeg;capture=camera">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="UploadPicBtn" onclick="clickUploadBtn()">Upload</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            @* ------------------------------- *@


            @* ------------ team ------------- *@
            <div class="tab-pane fade in update-background px-2 px-lg-4" id="panel-team">
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset>
                            <legend>Team</legend>
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Team Name: @Model.Team.TeamName</label>
                                </div>
                                <div class="col-lg-12" style="overflow: auto; margin: 10px">
                                    <table id="TripTeamTable" style="width: 100%;" class="table table-bordered">
                                        <thead class="table-active">
                                            <tr>
                                                <td>Team Member</td>
                                                <td>Role</td>
                                                <td>Mobile</td>
                                                <td>Email</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Team.TeamMembers != null)
                                            {
                                                foreach (var v in Model.Team.TeamMembers)
                                                {
                                                    <tr id="@v.Contact_ID">
                                                        <td>@v.FirstName @v.LastName</td>
                                                        <td>@v.RoleString</td>
                                                        <td>@v.Mobile</td>
                                                        <td>@v.Email</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                        <br />
                    </div>
                </div>
            </div>

            @* --------- upcoming events --------- *@
            <div id="panel-hostEvent" class="tab-pane fade in update-background px-2 px-lg-4">
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset>
                            <legend>Upcoming Event</legend>
                            <br />
                            @foreach (var item in Model.HostEventList)
                            {
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>Event: @item.HostEventName</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Name: @item.InstanceName</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Points Required to complete: @item.PointsRequired</label>
                                    </div>
                                    <div class="col-lg-12">
                                        @if (item.Completed)
                                        {
                                            <label style="margin-right: 8px">Completed:</label><i style="color: green;" class="fas fa-check"></i>
                                        }
                                        else
                                        {
                                            <label style="margin-right: 8px">Completed:</label><i style="color: red;" class="fas fa-times"></i>
                                        }
                                    </div>
                                    <br />
                                    <br />
                                    <div class="col-lg-12">
                                        <label>Sessions:</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <table id="SessionTable_@item.Instance_ID" style="width: 100%;" class="table table-bordered">
                                            <thead class="table-active">
                                                <tr>
                                                    <td>Session Date</td>
                                                    <td>Topics</td>
                                                    <td>Points</td>
                                                    <td>Attendance</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var v in item.SessionList)
                                                {
                                                    <tr>
                                                        <td>@v.SessionDate.ToString("dd-MMM-yyyy")</td>
                                                        <td>@v.TopicString</td>
                                                        <td>@v.pointWeighting</td>
                                                        @if (v.Attended)
                                                        {
                                                            <td><i style="color: green;" class="fas fa-check"></i></td>
                                                        }
                                                        else
                                                        {
                                                            <td><i style="color: red;" class="fas fa-times"></i></td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr />
                            }
                            <br />
                        </fieldset>
                        <br />
                    </div>
                </div>
            </div>


            @* ------- upload document ------- *@
            <div id="panel-docUpload" class="tab-pane fade in update-background px-2 px-lg-4">
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset>
                            <legend>Required Documents</legend>
                            <br />
                            <p>Please upload files for all the following documents:</p>
                            <table class="table-bordered footable" data-sort="false">
                                <thead class="table-active">
                                    <tr>
                                        <th>Document Type</th>
                                        <th>Uploaded Document</th>
                                        <th>Uploaded DateTime</th>
                                        <th>Uploaded By</th>
                                        <th>Upload</th>
                                        <th>Download</th>
                                        <th>Approved</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DocumentUploads.Documents)
                                    {
                                        <tr>
                                            @if (item.DocumentType_ID == 4 || item.DocumentType_ID == 13)
                                            {
                                                <td>
                                                    @item.DocumentType <br>
                                                    @if (Model.Event_ID == 5)
                                                    {
                                                        <i>Please click <a href="~/Content/Fiji22MediaReleaseForm.pdf" download="Fiji22MediaReleaseForm"><u>here</u></a> to download the form</i>
                                                    }
                                                    else
                                                    {
                                                        <i>Please click <a href="~/Content/MediaReleaseForm.pdf" download="MediaReleaseForm"><u>here</u></a> to download the form</i>
                                                    }
                                                </td>
                                            }
                                            else if (item.DocumentType_ID == 16)       /*a new document type for now cuz theres a old media release form*/
                                            {
                                                <td>
                                                    @item.DocumentType <br>
                                                    <i>Please click <a href="~/Content/MediaReleaseForm25.pdf" download="MediaReleaseForm25"><u>here</u></a> to download the form</i>
                                                </td>
                                            }
                                            else if (item.DocumentType_ID == 8 || item.DocumentType_ID == 14)
                                            {
                                                <td>
                                                    @item.DocumentType <br>
                                                    <i>
                                                        Please read the following document <a href="#" onclick="GetAccDoc()"><u>(ACC Safer Churches Guideline)</u></a> before signing the
                                                        <a href="~/Content/ChildPolicyAcknowledgement.pdf" download="ChildPolicyAcknowledgement"><u>form</u></a> and submitting it.
                                                    </i>

                                                </td>
                                            }
                                            else if (item.DocumentType_ID == 17)    /*a new document type for now cuz theres a old ACC form*/
                                            {
                                                <td>
                                                    @item.DocumentType <br>
                                                    <i>
                                                        Please read the following document <a href="#" onclick="GetAccDoc()"><u>(ACC Safer Churches Guideline)</u></a> before signing the
                                                        <a href="~/Content/ChildPolicyAcknowledgement25.pdf" download="ChildPolicyAcknowledgement25"><u>form</u></a> and submitting it.
                                                    </i>

                                                </td>
                                            }
                                            else
                                            {
                                                <td>@item.DocumentType</td>
                                            }

                                            @if (item.uploaded)
                                            {
                                                <td>@item.originalName</td>
                                                <td>@item.UploadedDateTime</td>
                                                <td>@item.UploadedByName</td>
                                            }
                                            else
                                            {
                                                <td style="color: red"><strong>Please upload Document</strong></td>
                                                <td></td>
                                                <td></td>
                                            }

                                            @if (item.Approved)
                                            {
                                                <td><button class="btn btn-primary" disabled>Upload</button></td>

                                            }
                                            else
                                            {
                                                <td><button class="btn btn-primary" onclick="openUploadDocumentModal(@item.DocumentType_ID)">Upload</button></td>

                                            }
                                            @if (item.uploaded)
                                            {
                                                <td><button class="btn btn-primary" onclick="downloadDoc(@item.Document_ID)">Download</button></td>
                                            }
                                            else
                                            {
                                                <td><button class="btn btn-primary" disabled>Download</button></td>
                                            }
                                            @if (item.Approved)
                                            {
                                                <td><i style="color: green;" class="fas fa-check"></i></td>
                                            }
                                            else
                                            {
                                                <td><i style="color: red;" class="fas fa-times"></i></td>
                                            }

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            <br />
                        </fieldset>
                        <br />
                    </div>
                </div>
            </div>
            @* ---- upload document modal ---- *@
            <div class="modal fade" id="uploadDocumentModal" tabindex="-1" role="dialog" aria-labelledby="uploadDocument" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadDocType">Upload Document </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="doc-notification" class="alert hidden"></div>
                            <form id="doc-upload" class="mb-2">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Document:</label>
                                    </div>
                                    <div class="col-8" style="text-align: center">
                                        <input type="file" id="docFile" name="docfFile" value="UploadFile" accept=".png, .jpg, .jpeg, application/pdf, .pdf;capture=camera">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="UploadDocumentBtn" onclick="clickUploadDocumentBtn()">Upload</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            @* ------------------------------- *@
        </div>
    </div>
</div>

<script>
    function copyToClipboard() {
        var str = $("#URL").val()
        return new Promise(function (resolve, reject) {
            var success = false;
            function listener(e) {
                e.clipboardData.setData("text/plain", str);
                e.preventDefault();
                success = true;
            }
            document.addEventListener("copy", listener);
            document.execCommand("copy");
            document.removeEventListener("copy", listener);
            success ? resolve() : reject();
            alert("Copied")
        });
    }

    function updateContactProfile() {
        var Contact_ID = $("#Contact_ID").val();
        var Event_ID = $("#Event_ID").val();
        var AboutMyself = $("#Profile_AboutMyself").val()
        var TripDetails = $("#Profile_TripDetails").val()
        var ContactProfile_ID = $("#ContactProfile_ID").val()
        //do ajax call to update
        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            url: "/TripDetails/updateContactProfile",
            data: JSON.stringify({
                "Event_ID": Event_ID,
                "Contact_ID": Contact_ID,
                "ContactProfile_ID": ContactProfile_ID,
                "AboutMyself": AboutMyself,
                "TripDetails": TripDetails
            }),
            success: function (result) {
                alert("Saved.")
            },
            error: function () {
                alert("Unable to save.");
            }
        });
    }

    function openUploadModal() {
        $("#uploadDpModal").modal("show");
    }

    function clickUploadBtn() {
        var fd = new FormData();
        var files = $("#picFile")[0].files;
        var Contact_ID = $("#Contact_ID").val();
        var Event_ID = $("#Event_ID").val();
        console.log(Event_ID)
        if (files.length > 0) {
            fd.append('picFile', files[0]);
        } else {
            $("#doc-notification").addClass("alert-danger");
            $("#doc-notification").addClass("font-weight-bolder");
            $("#doc-notification").text("Missing file.");
            $("#doc-notification").show();
            setTimeout(function () { $("#doc-notification").fadeOut(); }, 5000);
            return;
        }
        fd.append("Contact_ID", Contact_ID);
        fd.append("Event_ID", Event_ID);
        $.ajax({
            type: "POST",
            url: "/TripDetails/UploadDp",
            data: fd,
            contentType: false,
            processData: false,
            success: function (result) {
                if (result.success) {
                    $("#pic-notification").addClass("alert-success");
                    $("#pic-notification").addClass("font-weight-bolder");
                    $("#pic-notification").text("successfully uploaded picture");
                    $("#pic-notification").show();
                    setTimeout(function () {
                        $("#pic-notification").fadeOut();
                        $("#uploadDpModal").modal("hide");
                        $('.unalloc-toggle-btn').click();
                        $("#ContactProfile_ID").val(result.ContactProfile_ID)
                        //update image source url
                        $.ajax({
                            type: "POST",
                            contentType: 'application/json; charset=utf-8',
                            url: "/TripDetails/getPicURL",
                            data: JSON.stringify({
                                "Event_ID": Event_ID,
                                "Contact_ID": Contact_ID,
                                "FileName": result.FileName,
                            }),
                            success: function (result) {
                                console.log(result)
                                $("#DisplayPicture").attr("src", result)
                            }
                        });
                    }, 500);
                }
            },
            error: function (result) {
                $("#pic-notification").addClass("alert-danger");
                $("#pic-notification").addClass("font-weight-bolder");
                $("#pic-notification").text(result.message);
                $("#pic-notification").show();
                setTimeout(function () { $("#doc-notification").fadeOut(); }, 7000);
            }
        });
    }

    function openUploadDocumentModal(DocumentType_ID) {
        $("#UploadDocumentBtn").attr("onclick", "clickUploadDocumentBtn(" + DocumentType_ID + ")")
        $("#uploadDocumentModal").modal("show");
    }

    function clickUploadDocumentBtn(DocumentType_ID) {
        var fd = new FormData();
        var files = $("#docFile")[0].files;
        var Contact_ID = $("#Contact_ID").val();
        var Event_ID = $("#Event_ID").val();
        console.log(Event_ID)
        if (files.length > 0) {
            fd.append('docFile', files[0]);
        } else {
            $("#doc-notification").addClass("alert-danger");
            $("#doc-notification").addClass("font-weight-bolder");
            $("#doc-notification").text("Missing file.");
            $("#doc-notification").show();
            setTimeout(function () { $("#doc-notification").fadeOut(); }, 5000);
            return;
        }
        fd.append("DocumentType_ID", DocumentType_ID);
        fd.append("Contact_ID", Contact_ID);
        fd.append("Event_ID", Event_ID);
        $.ajax({
            type: "POST",
            url: "/Application/UploadDocumentDetails",
            data: fd,
            contentType: false,
            processData: false,
            success: function (result) {
                if (result.success) {
                    $("#doc-notification").addClass("alert-success");
                    $("#doc-notification").addClass("font-weight-bolder");
                    $("#doc-notification").text(result.message);
                    $("#doc-notification").show();
                    setTimeout(function () {
                        $("#doc-notification").fadeOut();
                        window.location.reload();
                        $('.unalloc-toggle-btn').click()
                    }, 500);
                    //$('.unalloc-toggle-btn').click()
                }
            },
            error: function (result) {
                $("#doc-notification").addClass("alert-danger");
                $("#doc-notification").addClass("font-weight-bolder");
                $("#doc-notification").text(result.message);
                $("#doc-notification").show();
                setTimeout(function () { $("#doc-notification").fadeOut(); }, 7000);
            }
        });

    }

    function downloadDoc(Document_ID) {
        $.ajax({
            type: "POST",
            url: "/Application/DownloadFile",
            data: JSON.stringify({ "Document_ID": Document_ID }),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                console.log(result)
                downloadURI(result.url, result.name);
            },
            error: function (result) {
                alert("Unable to download file.")
            }
        });
    }

    function downloadURI(uri, name) {
        var link = document.createElement("a");
        link.download = name;
        link.href = uri;
        link.target = "_blank";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        delete link;
    }

    function GetAccDoc() {
        window.open('/TripDetails/AustralianChristianChurchesChildProtectionPolicy', "_blank");
    };
</script>