﻿@model Planetshakers.Events.Mvc.Models.DevErrorNotificationEmailModel
@using Planetshakers.Events.Mvc.Controllers;
@{
    Layout = null;
}
<p>@Model.ex.Message</p>
<p>@Model.ex.InnerException.Message</p>
<p>@Model.ex.StackTrace</p>
<p>Additional Info: @Model.extraNotes</p>