﻿@model Planetshakers.Events.Mvc.Models.GroupInvitationEmailModel
@using Planetshakers.Events.Mvc.Controllers;
@{
    Layout = null;
}

<table cellpadding="0" cellspacing="0" border="0" style="width:770px;border:solid 2px black;margin:0px auto 0px auto"><tbody>
    <tr>
        <td>
            <img src="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/Content/themes/planetshakers/img/email_header.png")" alt="Planetshakers">
            <img src="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/Content/themes/planetshakers/img/email_registration_banner.jpg")"" alt="Header" style="width:770px;min-height:185px">
            <br>
            <br>
            <table cellspacing="0" cellpadding="3" style="width:700px;margin-left:20px"><tbody>
                <tr>
                    <td>
                        <span>Registration Confirmation</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        You have been given an invitation for [Event]
                        <br />
                        <a href="@Url.Action("AcceptInvitation", "Invitation", 
                                 new System.Web.Routing.RouteValueDictionary(new { unique_id = Model.InvitationID}),
                                 "http", Request.Url.Host)">Accept</a>
                        <a href="@Url.Action("DeclineInvitation", "Invitation",
                                 new System.Web.Routing.RouteValueDictionary(new { unique_id = Model.InvitationID}),
                                 "http", Request.Url.Host)">Decline</a>
                        <div style="text-align:center">
                            <strong>Planet Shakers Ministries International ABN 79 480 989 066</strong><br>
                            <strong>PO Box 5171, South Melbourne Vic 3205&nbsp;&nbsp;&nbsp;PHONE: 1300 88 33 21&nbsp;&nbsp;&nbsp;FAX: (03) 9830 7683</strong><br>
                            <br>
                        </div>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>