﻿<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Check In Ticket</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <style>
        .fit-image {
            width: 100%;
            object-fit: cover;
        }

        body {
            display: block;
            height: 90%;
            width: 80%;
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10%;
        }

        #ps_logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 40px;
        }

        .barcode {
            display: block;
            padding: 10px 0 10px 0;
            max-height: 380px;
        }

        .ticket {
            margin: 50px 0 20px 0;
            height: 400px;
        }

        .ticket-info {
            font-size: 1.25em;
        }

        .advertisement {
            margin-top: 10px;
            text-align: center;
            font-size: 16px;
        }

        .regards {
            margin-top: 70px;
            text-align: left;
            font-size: 16px;
        }

        .contact-details {
            bottom: 0;
            margin-top: 120px;
            text-align: center;
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="container" style="width:770px;">
        <div class="row">
            <div class="col text-center fit-image align-middle">
                <img id="ps_logo" class="logo-banner"
                     src="https://marketing-image-production.s3.amazonaws.com/uploads/fe8b38345b4ce58371095b31232065d4009bf71b5a0267125a814a9593c6f18cad2615a68255327ebb012b02c23a12bc9d7c4f4e23f1ff564db4edd6ec30de70.jpg"
                     alt="planetshakers logo" class="img-responsive" />
            </div>
            <div class="row">
                <div class="col text-center">
                    <img src="https://marketing-image-production.s3.amazonaws.com/uploads/bb0d46dead7c691ab7adaaeb090dc8d4d5a63e0b56ee5eb4df755d5d28a19a9f51b0e6e6794d08aa8acf2823b7c4dd69a8f76696cc4215f4a4d8281227946cbe.jpg"
                         width="100%">
                </div>
            </div>
            <div id="ticket-section" class="row border ticket align-items-center">
                <div class="col-2">
                    <img id="check_in_barcode" class="barcode"
                         src="https://barcode.tec-it.com/barcode.ashx?data=[rego_barcode]&code=Code128&dpi=128&rotation=270"
                         alt="Check In Barcode" />
                </div>
                <div class="col-8 text-center ticket-info">
                    <p>Suntec Singapore Convention and Exhibition Centre</p>
                    <br />
                    <h3><strong>PLANETSHAKERS CONCERT SINGAPORE</strong></h3>
                    <br />
                    <p>
                        19 Jan 2020<br />
                        7:00pm<br />
                        (Doors open at 5:30pm)
                    </p>
                </div>
                <div class="col-2 text-center">
                    <span class="align-middle"><strong>Admit ONE</strong></span>
                    <br />
                    <br />
                    <span class="align-middle"><strong>General Admission</strong></span>
                    <br />
                    <span class="align-middle"><strong>SGD 20.00</strong></span>
                </div>
            </div>
        </div>
    </div>

    <div class="advertisement">
        <p>
            Download our Planetshakers app on iPhone or Android. It is a great way of keeping up to date with events,
            podcasts, vids, vlogs and more;<br />
            updated each week to give you our latest and best FREE content.
        </p>
        <br />
        <p>
            Any questions? Email us at info@believeglobal.org.
        </p>
    </div>
    <div class="regards">
        Thanks and enjoy,<br />
        The Planetshakers Team
    </div>
    <div class="contact-details">
        <p>
            <strong>Planetshakers Singapore T17SS0051A</strong>
        </p>
        <p>
            @*<strong>PHONE: 1300 88 33 21 &nbsp; EMAIL: info@believeglobal.org</strong>*@
            <strong>EMAIL: info@believeglobal.org</strong>
        </p>
    </div>
</body>

</html>