﻿@model Planetshakers.Events.Mvc.Models.EventAllocateModel

<div id="form-allocate" class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills">
            <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#panel-personal" id="tab-personal">Personal</a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#panel-church" id="tab-church">Church</a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#panel-emergency" id="tab-emergency">Emergency Details</a></li>
        </ul>
        @using (Ajax.BeginForm("Account", "Allocate", 
                new AjaxOptions{HttpMethod="POST",UpdateTargetId="form-allocate"}))
        {
            <div class="tab-content">
                <div class="tab-pane fade in active show update-background px-2 px-lg-4" id="panel-personal">
                    <div class="row">
                        <div class="col-lg-12">
                            <br />
                            @if (ViewBag.Alert != null)
                            {<div class="alert alert-success">@ViewBag.Alert</div>}
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(m => m.Gender)
                            @Html.HiddenFor(m => m.Email)
                            @Html.HiddenFor(m => m.DoB)
                            <div class="form-group">
                                <h4>Personal Details</h4>
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Salutation, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(m => m.Salutation, Model.SalutationList, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Firstname, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Lastname, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.DoB, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-9">
                                        <label class="inline">@Html.Raw(Model.DoB)</label>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Gender, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-9">
                                        <label class="inline">@Html.Raw(Model.Gender)</label>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <br />
                            <div class="form-group">
                                <h4>Contact Details</h4>
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Address1, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                                        <br />
                                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Country, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(m => m.Country, Model.CountryList, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Suburb, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Suburb, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.StateOther, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.StateOther, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Postcode, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Mobile, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Email, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-9">
                                        <label class="inline">@Html.Raw(Model.Email)</label>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary btn-block" name="update:personal">Save</button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="content" id="panel-church">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            @if (ViewBag.Alert != null)
                            {<div class="alert alert-success">@ViewBag.Alert</div>}
                            <div class="form-group">
                                <h4>Church Details</h4>
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ChurchName, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.ChurchName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ChurchDenomination, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.DropDownListFor(m => m.ChurchDenomination, Model.ChurchDenominationList, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ChurchSeniorPastor, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.ChurchSeniorPastor, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ChurchLeader, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.ChurchLeader, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ChurchSize, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.ChurchSize, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ChurchAddress1, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.ChurchAddress1, new { @class = "form-control" })
                                        @Html.TextBoxFor(m => m.ChurchAddress2, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ChurchSuburb, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.ChurchSuburb, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ChurchState, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.ChurchState, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ChurchPostcode, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.ChurchPostcode, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ChurchCountry, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.DropDownListFor(m => m.ChurchCountry, Model.CountryList, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ChurchPhone, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.ChurchWebsite, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ChurchEmail, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.ChurchEmail, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="form-group">
                                <h4>Church Involvement</h4>
                                @foreach (var ci in Model.AvailableCInvolvement)
                                {
                                    <div class="row">
                                        <div class="col-lg-12">

                                            <input type="checkbox"
                                                   name="SelectedCInvolvement" value="@ci.id" id="@ci.id"
                                                   @{if (Model.SelectedCInvolvement != null && Model.SelectedCInvolvement.Contains(ci.id)) { <text> checked='checked' </text>  }} />
                                            <label for="@ci.id">@ci.name</label>
                                        </div>
                                    </div>
                                    <br />
                                }
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary btn-block" name="update:church">Save</button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="content" id="panel-emergency">
                    <div class="row form-group">
                        <div class="large-10 large-centered columns">
                            @if (ViewBag.Alert != null)
                            {<div class="alert alert-success">@ViewBag.Alert</div>}
                            <div class="border">
                                <h4>Emergency / Medical Details</h4>
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.EmergencyContactName, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.EmergencyContactName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.EmergencyContactPhone, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.EmergencyContactPhone, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.EmergencyContactRelationship, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(m => m.EmergencyContactRelationship, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.MedicalInfo, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextAreaFor(m => m.MedicalInfo, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.MedicalAllergies, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.TextAreaFor(m => m.MedicalAllergies, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary btn-block" name="update:emergency">Save</button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>