﻿@model Planetshakers.Events.Mvc.Models.BasicDetailsPartialModel

<div class=" form-group">
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Firstname, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Lastname, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.DoB, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.DoB, "{0:yyyy-MM-dd}", new { @class = "dob-field form-control", placeholder = "yyyy-MM-dd", type = "date", required = "required" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @*@Html.LabelFor(m => m.Country, new { @class = "inline inline-block" })*@
            <label>Country of Residency</label>
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.DropDownListFor(m => m.Country, Model.CountryList, new { @class = "form-control" })
        </div>
    </div>
    <br />
    @*<div class="row">
            <div class="col-lg-3">
                @Html.LabelFor(m => m.Suburb, new { @class = "inline inline-block" })
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.Suburb, new { @class = "form-control" })
            </div>
        </div>
        <br />*@
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Postcode, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Church, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Church, new { @class = "form-control", required = "required" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Mobile, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", required = "required" })
        </div>
    </div>
</div>
