﻿@model Planetshakers.Events.Mvc.Models.ChurchInvolvementPartialModel

@foreach (var ci in Model.AvailableCInvolvement)
{
    <div class="row">
        <div class="col-lg-12">
            <input type="checkbox"
                   name="@(ViewData.TemplateInfo.HtmlFieldPrefix).SelectedCInvolvement" value="@ci.id" id="@ci.id"
                   @{if (Model.SelectedCInvolvement != null && Model.SelectedCInvolvement.Contains(ci.id)) { <text> checked='checked' </text>         }} />
            <label for="@ci.id">@ci.name</label>
        </div>
    </div>
}