﻿@model Planetshakers.Events.Mvc.Models.ChurchDetailsPartialModel

<div class="form-group">
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ChurchName, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.ChurchName, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ChurchDenomination, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.DropDownListFor(m => m.ChurchDenomination, Model.ChurchDenominationList, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ChurchSeniorPastor, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.ChurchSeniorPastor, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ChurchLeader, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.ChurchLeader, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ChurchSize, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.ChurchSize, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ChurchAddress1, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.ChurchAddress1, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.ChurchAddress2, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ChurchSuburb, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.ChurchSuburb, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ChurchState, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.ChurchState, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ChurchPostcode, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.ChurchPostcode, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ChurchCountry, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.DropDownListFor(m => m.ChurchCountry, Model.CountryList, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ChurchPhone, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.ChurchWebsite, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ChurchEmail, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.ChurchEmail, new { @class = "form-control" })
        </div>
    </div>
</div>
