﻿@model Planetshakers.Events.Mvc.Models.ContactDetailsPartialModel

<div class="form-group">
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Address1, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Country, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.DropDownListFor(m => m.Country, Model.CountryList, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Suburb, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Suburb, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.StateOther, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.StateOther, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Postcode, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Mobile, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
        </div>
    </div>

</div>                  