﻿@model Planetshakers.Events.Mvc.Models.CredentialDetailsPartialModel

@Html.ValidationMessageFor(m => m.Email)
@Html.ValidationMessageFor(m => m.ConfirmEmail)
@Html.ValidationMessageFor(m => m.Password)
@Html.ValidationMessageFor(m => m.ConfirmPassword)

<div class="form-group">
    <div class="row">
        <div class="col-lg-4">
            @Html.LabelFor(m => m.Email, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-8">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">
            @Html.LabelFor(m => m.ConfirmEmail, new { @class = "inline" })
        </div>
        <div class="col-lg-8">
            @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.Password, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-7">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

</div>