﻿@model Planetshakers.Events.Mvc.Models.EmergencyDetailsPartialModel

<div class="form-group">
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.EmergencyContactName, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.EmergencyContactName, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.EmergencyContactPhone, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.EmergencyContactPhone, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.EmergencyContactRelationship, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-7">
            @Html.TextBoxFor(m => m.EmergencyContactRelationship, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            <label class="inline inline-block" for="@Html.IdFor(m => m.MedicalInfo)">
                Does your child have any special needs?
                If yes, please specify
            </label>
        </div>
        <div class="col-lg-7">
            @Html.TextAreaFor(m => m.MedicalInfo, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5">
            @Html.LabelFor(m => m.MedicalAllergies, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-7">
            @Html.TextAreaFor(m => m.MedicalAllergies, new { @class = "form-control" })
        </div>
    </div>
    <br />
</div>
