﻿@using Planetshakers.Events.Mvc.Controllers;
@using Planetshakers.Events.Mvc.Authenticator;
@using Planetshakers.Events.Mvc.Filters;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="google-signin-client_id" content="603470308392-hn32m6bk4f0ue3u4gh3q5mvl2vbevi0b.apps.googleusercontent.com">
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Content/favicon.ico")" />
    <link rel="apple-touch-icon image_src" href="@Url.Content("~/Content/apple-touch-icon.png")">
    <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    @Styles.Render("~/bundles/Content/themes/foundation/css")
    @Styles.Render("~/bundles/Content/themes/footable/css")
    @Styles.Render("~/bundles/Content/themes/planetshakers/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/development")

    <link href="~/Content/themes/font-awesome-4.4.0/css/font-awesome.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39793669-22"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-39793669-22');
    </script>

</head>
<body>
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation" data-options="mobile_show_parent_link: false">
            <ul class="title-area">
                <li class="name">
                    <a class="brand" href="#">
                        <img src="@Url.Content("~/Content/themes/planetshakers/img/logo.png")" style="vertical-align: middle; max-height:21px;" />
                    </a>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="left">
                    <li>@Html.ActionLink("Events", "Index", "Events")</li>
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Barcode", "Index", "Barcode")</li>
                    }
                </ul>
                <!-- Right Nav Section -->
                <ul class="right">
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="has-dropdown not-click">
                            <a href="#">My Account</a>
                            <ul class="dropdown">
                                <li>@Html.ActionLink("My Details", "Update", "Account")</li>
                                <li>@Html.ActionLink("Sign out", "LogOut", "Account")</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        <li>@Html.ActionLink("Sign Up!", "Register", "Account")</li>
                    }
                </ul>
            </section>
        </nav>
    </div>
    <div id="body">
        @RenderSection("featured", required: false)

        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
            <div id="session_timeout" class="reveal-modal" data-reveal aria-hidden="false" style="display: block; z-index:2147483690" role="dialog">
                <h2 class="modal-title">Session Ending</h2><br />
                <h4>Your session is about to end in: <span id="timer"></span></h4><br /><br />
                <button type="button" class="button small right" onclick="reloadWindow()">Extend</button>
                <button type="button" class="button small right" style="margin-right:12px;" data-dismiss="modal" onclick="window.location.href = '/Account/Login'">Log Off</button>

                <a class="close-reveal-modal" onclick="reloadWindow()" aria-label="Close">x</a>
            </div>
        </section>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/foundation")
    @Scripts.Render("~/bundles/footable")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>

    <!-- initializes foundation -->
    <script>
        $(document).foundation();

        // Find ALL <form> tags on your page

        $('form').submit(function () {
            // On submit disable its submit button
            $('.disable-on-submit', this).attr('disabled', 'disabled');
        });
    </script>
    <script src="@Url.Content("~/Scripts/timeout.js")"></script>
</body>
</html>

