﻿@using Planetshakers.Events.Mvc.Controllers;
@using Planetshakers.Events.Mvc.Authenticator;
@using Planetshakers.Events.Mvc.Filters;
@{
    var contact = (Planetshakers.Events.Mvc.Authenticator.Contact)Session["Contact"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="google-signin-client_id" content="603470308392-hn32m6bk4f0ue3u4gh3q5mvl2vbevi0b.apps.googleusercontent.com">
    <link rel="SHORTCUT ICON" href="@Url.Content(" ~ /Content/favicon.ico")" />
    <link rel="apple-touch-icon image_src" href="@Url.Content(" ~ /Content/apple-touch-icon.png")">
    <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    @Styles.Render("~/bundles/Content/sb-admin-2")
    <link rel="stylesheet" type="text/css" href="@Url.Content(" ~ /Content/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content(" ~ /Content/bootstrap/vendor/fontawesome-free/css/all.min.css")" />
    @Styles.Render("~/bundles/Content/themes/planetshakers")
    @Styles.Render("~/bundles/Content/footable")
    @Styles.Render("~/bundles/Content/css/datetimepicker")
    @Scripts.Render("~/bundles/development")
    @Scripts.Render("~/bundles/datetimepicker")

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39793669-22"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-39793669-22');
    </script>

</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-black sidebar sidebar-dark accordion toggled" id="accordionSidebar">


            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action(" Index","Events")">
                <div class="sidebar-brand-icon">
                    <img class="p-0 m-0 border-white border-0 border-circle" src="~/Content/themes/planetshakers/images/circle-logo.png" width="40" height="40" />
                </div>
                <div class="sidebar-brand-text mx-3">Register</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action(" Index","Events")">
                    <i class="fas fa-home"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
            {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action(" Index","Barcode")">
                    <i class="fas fa-barcode"></i>
                    <span>Barcode</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action(" LogOut","Account")">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Log Out</span>
                </a>
            </li>
            }
            else
            {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action(" Login", "Account" )">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>Log In</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            }

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0 my-2" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column" onscroll="checkScrollView()">
            <nav class="navbar navbar-expand navbar-light topbar bg-white mb-4 static-top">
                <h1 class="d-none d-lg-block d-xl-block">Planetshakers Events</h1>
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3 text-black-100">
                    <i class="fa fa-bars"></i>
                </button>
                <a id="homeLink" class="btn btn-link d-md-none rounded-circle mr-3 text-black-100" href="@Url.Action(" Index","Events")">
                    <i class="fa fa-home"></i>
                </a>


                @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated || contact != null)
                {
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow">

                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-lg-inline text-black-100 small"></span>
                            <img class="img-profile rounded-circle" src="~/Content/themes/planetshakers/images/circle-logo.png">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="@Url.Action(" Update", "Account" )">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                My Details
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action(" LogOut","Account")">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                }
                else
                {

                <div class=" navbar-nav ml-auto">
                    <a href="@Url.Action(" Login", "Account" )" class="btn btn-link sign-up px-0 px-md-2">
                        <i class="fas fa-sign-in-alt fa-sm fa-fw mr-lg-2"></i>
                        Login
                    </a>
                    <a href="@Url.Action(" Register", "Account" )" class="btn btn-link sign-up px-0 px-md-2 pl-2">
                        <i class="fas fa-sign fa-sm fa-fw mr-lg-2"></i>
                        Sign Up!
                    </a>
                </div>

                }
            </nav>

            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    
    @Scripts.Render("~/bundles/PopperJS")
    @Scripts.Render("~/bundles/footableJS")
    @Scripts.Render("~/bundles/bootstrapJS")
    @Scripts.Render("~/bundles/sb-admin-2JS")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <script src="@Url.Content(" ~ /Scripts/timeout.min.js")"></script>
</body>


</html>

