﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="google-signin-client_id" content="603470308392-hn32m6bk4f0ue3u4gh3q5mvl2vbevi0b.apps.googleusercontent.com">
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Content/themes/favicon.ico")" />
    <link rel="apple-touch-icon image_src" href="@Url.Content("~/Content/themes/apple-touch-icon.png")">
    <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    @Styles.Render("~/bundles/Content/sb-admin-2")
    @Styles.Render("~/bundles/Content/css/bootstrap")
    @Styles.Render("~/bundles/Content/themes/planetshakers")
    @Styles.Render("~/bundles/Content/footable")
    @Scripts.Render("~/bundles/development")

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39793669-22"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-39793669-22');
    </script>

</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/footable")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/bootstrapJS")
    @Scripts.Render("~/bundles/sb-admin-2JS")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <script src="@Url.Content("~/Scripts/timeout.js")"></script>

</body>
</html>

