﻿@model Planetshakers.Events.Mvc.Models.PersonalDetailsPartialModel


<div class="form-group">
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Salutation, new { @class = "inline inline-block" })
        </div>
        <div class="col-lg-9">
            @Html.DropDownListFor(m => m.Salutation, Model.SalutationList, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Firstname, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Lastname, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.DoB, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.DoB, new { @class = "dob-field form-control", placeholder = "dd/mm/yyyy", type = "date" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Gender, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.DropDownListFor(m => m.Gender, Model.GenderList, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Grade, new { @class = "inline inline-block" })
            <span style="color: red;">*</span>
        </div>
        <div class="col-lg-9">
            @Html.DropDownListFor(m => m.Grade, Model.GradeList, new { @class = "form-control" })
        </div>
    </div>
</div>
                        