﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registration Closed";
}
<div class="row mx-0">
    <div class="col-lg-12">
        <div class="col-lg-12 border-bottom">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h5>Sorry, registration for this trip is now closed.</h5>
            <h5>Click <a href="@Url.Action("Index","Events")"><strong><u>here</u></strong></a> to go back to the homepage.</h5>
        </div>
    </div>
</div>
