﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Oops! We're sorry.";
}
@*<div class="row">
    <div class="col-lg-11 offset-lg-1">
        <div class="row">
            <div class="col-lg-11 border-bottom">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div>
            
        </div>
    </div>
</div>*@

<div class="row mx-0">
    <div class="col-lg-12">
        <div class="col-lg-12 border-bottom">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h5>Something went wrong here.</h5>
            <h5>Please contact our Team at <a mailto:"info@believeglobal.org">info@believeglobal.org</a> for assistance.</h5>
            <h5>Click <a href="@Url.Action("Index","Events")"><strong><u>here</u></strong></a> to go back to the homepage.</h5>
        </div>
    </div>
</div>