﻿@using System.Data.SqlClient;
@using System.Configuration;

<!-- Nav Item - Pages Collapse Menu -->
@if (Request.IsAuthenticated)
{

    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseAdministration" aria-expanded="true" aria-controls="collapseAdministration">
            <i class="fas fa-fw fa-folder"></i>
            <span>Administration</span>
        </a>
        <div id="collapseAdministration" class="collapse" aria-labelledby="headingAdministration" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Church Courses:</h6>
                <a class="collapse-item" href="@Url.Action("RegisterCourse","CheckIn")">Registration</a>
                <a class="collapse-item" href="@Url.Action("Courses", "CheckIn")">Check In</a>
                <a class="collapse-item" href="@Url.Action("LiveStats","CheckIn")">Live Stats</a>
            </div>
        </div>
    </li>
}