﻿@{
    ViewBag.Title = "Forget Password";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#forgetPasswordForm").validate(
        {
            rules: {
                email:
                {
                    required: true,
                    email: true
                }
            }
        });
    });
</script>

<div class="row">
    <div class="col-lg-6 offset-lg-3" style="text-align: center;">
        <div class="p-5">
            <div class="text-center">
                <img class="mb-2 h-25 w-25" src="@Url.Content("~/Content/themes/planetshakers/images/believe-logo.jpg")" alt="Believe Global" style="width:100%; max-width:360px;" />
            </div>
        </div>
    </div>
</div>
<div class="row form-group mx-0 p-2">
    <br />
    @if (ViewBag.forgetPass != null)
    {
            <div class="col-lg-12">
                <div class="alert alert-success">@ViewBag.forgetPass</div>
            </div>
    }
    <div class="col-12">
        <form class="form-horizontal" id="forgetPasswordForm" method="post">
            <div class="row">
                <div class="col-lg-12 border-bottom">
                    <h5>
                        To request a password reset please enter you email address below.
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="control-group col-lg-12">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input class="form-control" type="text" name="email" id="email" />
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="control-group col-lg-12">
                    <div class="controls">
                        <button type="submit" class="button expand btn btn-primary">Request Email Confirmation</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
