﻿@model Planetshakers.Events.Mvc.Models.LoginModel
@{
    ViewBag.Title = "Believe Global | Login";
    ViewBag.ButtonSubmit = "Sign in";
    var sitekey = "6LfGaewdAAAAAEo6H2vLA4i47LzY2EvKEYqgkIBa";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src='https://www.google.com/recaptcha/api.js' async defer type="text/javascript"></script>

<script src="https://www.google.com/recaptcha/api.js?render=@sitekey"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute("@sitekey", { action: "login" }).then(function (token) {
            console.log(token);

            $.ajax({
                type: "POST",
                url: "/Account/verifyCaptcha",
                data: { "token": token },
                success: function (response) {
                    console.log(response);

                    if (response.score <= 0.5) {
                        $("#grcaptcha").show();

                        if ($("#grcaptcha").is(":visible")) {
                            $("#logon_submit").attr("disabled", true);
                        }
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        });
    });

    function onRecaptchaCallback() {
        $("#logon_submit").attr("disabled", false);
    }
</script>


<div class="container">
    <div class="col-xl-10 col-lg-12 col-md-9" style="max-width: 100%">
        @*<div class="card o-hidden border-0 shasow-lg my-5">*@
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6" style="margin: auto">
                        <div class="p-5">
                            <div class="text-center">
                                @if (!String.IsNullOrWhiteSpace(ViewBag.SuccessfulReset))
                                {
                                    <div class="alert alert-success">@ViewBag.SuccessfulReset</div>
                                }
                                else
                                {
                                    <div class="alert alert-success" style="display: none;">Success message placeholder</div>
                                }
                                <div class="alert alert-danger" style="display: none;">Alert message placeholder</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>*@
                    <div class="col-lg-6" onload="load_me()" style="margin: auto">
                        <div class="p-5">
                            <div class="text-center">
                                @*<h1 class="h4 text-gray-900 mb-4">Believe Global</h1>*@
                                <img src="~/Content/themes/planetshakers/images/believe-logo-v2.png" class="mb-2" @*style="width: 20vw"*@/>
                                <br />
                                <br />
                            </div>
                            @if (ViewBag.Error != null)
                            {
                                <div class="alert alert-danger">@ViewBag.Error</div>
                            }
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "user" }))
                            {
                                <div class="form-group">
                                    @*<input type="email" class="form-control form-control-user" id="UserName" name="UserName" data-val="true" data-val-required="The Email field is required." placeholder="Email">*@
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @id = "UserName", @placeholder = "Email" })

                                </div>
                                <div class="form-group">
                                    @*<input type="password" class="form-control form-control-user" id="Password" name="Password" placeholder="Password" data-val="true" data-val-required="The Password field is required.">*@
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", @id = "Password", @placeholder = "Password" })
                                    @*@Html.ValidationMessageFor(m => m.Password, String.Empty, new {@style="padding-left: 15px;" })*@
                                </div>
                                <div class="form-group">
                                    <div id="grcaptcha" class="g-recaptcha" data-callback="onRecaptchaCallback" data-sitekey="6Lf_BsQUAAAAAIXlPmr7fdShaFntb12yfrO_eVk0" align="center" hidden></div>
                                </div>
                                <input id="logon_submit" name="submit" type="submit" class="btn btn-black btn-user btn-block font-weight-bold" value="Login" onclick="remember_me()">
                            }
                            <hr>
                            <div class="text-center">
                                <a>@Html.ActionLink("Forgot your password?", "ForgetPassword", "Account")</a>
                            </div>
                            <div class="text-center">
                                <a>@Html.ActionLink("No account? Sign up HERE", "Register", "Account")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*</div>*@