﻿@model Planetshakers.Events.Mvc.Models.RegisterModel
@using Planetshakers.Events.Mvc.Controllers;
@{
    ViewBag.Title = "New Account";
}
@section scripts {
    @Scripts.Render("~/bundles/planetshakers/accounts")
}

<div class="row mx-0 p-2">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-12 border-bottom account-registration-header">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div id="manual_allocation" class="row">
            <div class="col-lg-12">
                @if (ViewBag.Error != null)
                {
                    <div id="register_alert" data-alert class="alert alert-warning">
                        @ViewBag.Error
                        <a href="#" class="close">&times;</a>
                    </div>
                }
                @using (Html.BeginForm(actionName:"Register", controllerName:"Account", method:FormMethod.Post, routeValues:new { returnUrl = ViewBag.returnUrl }))
                {
                    @Html.ValidationSummary(true)
                    <input name="registrationTypeID" type="hidden" value="0">
                    <div id="manual_1">
                        <div class="row">
                            <div class="col-lg-12">
                                <fieldset>
                                    <legend>Personal Details</legend>
                                    @Html.Partial("_BasicDetailsNoEmail", Model.basicDetails,
                                    new ViewDataDictionary()
                                    {
                                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "basicDetails" }
                                    })
                                </fieldset>

                                <fieldset>
                                    <legend>Credentials</legend>
                                    @Html.Partial("_CredentialDetails", Model.credentialDetails,
                                    new ViewDataDictionary()
                                    {
                                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "credentialDetails" }
                                    })
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
