﻿@using System.Web;

@{
    ViewBag.Title = "Believe | Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/bundles/planetshakers/events/Resetpassword")
}

<div class="row mx-0 px-2">
    @if (ViewBag.passResetResult != null)
    {

        <div class="col-12">
            <div class="alert alert-danger">@ViewBag.passResetResult</div>
        </div>

    }

    <div class="col-12 border-bottom">
        <h3>
            Password Reset
        </h3>
    </div>

    <div class="col-12 form-group">

        <div id="passwordlencheck" class="alert alert-danger" style="display: none;"><strong>Password must be longer than 8 characters.</strong></div>
        <div id="passwordmatchcheck" class="alert alert-danger" style="display: none;"><strong>Password do not match.</strong></div>
        <form class="form-horizontal" id="changePasswordForm" method="post">
            <div class="control-group">
                <label class="control-label">New Password (min. 8 characters)</label>
                <div class="controls">
                    <input class="form-control" type="password" name="newpassword" id="newpassword" />
                </div>
            </div>
            <div class="control-group border-bottom">
                <label class="control-label">Confirm Password</label>
                <div class="controls">
                    <input class="form-control" type="password" name="confirmedpassword" id="confirmedpassword" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button id="password-submit" type="submit" class="btn btn-black" disabled>Confirm Password</button>
                </div>
            </div>
        </form>

    </div>
</div>