﻿@model Planetshakers.Events.Mvc.Models.UpdateModel
@using Planetshakers.Events.Mvc.Controllers;
@{
    ViewBag.Title = "My Details";
}
@section scripts {
    @Scripts.Render("~/bundles/planetshakers/accounts")
    <script>
        $(document).ready(function () {
            $("@ViewBag.ActiveTab").click();
        });
    </script>
}

<div class="row mx-0 px-2">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12 border-bottom">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#panel-personal">Personal</a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#panel-emergency">Emergency Details</a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#panel-credential">Credentials</a></li>
        </ul>
        <br />
        @if (ViewBag.Alert != null)
        {
            <div class="alert alert-success">@ViewBag.Alert</div>
            <br />
        }
        <form action="" method="post" class="form-group">
            <div class="tab-content">
                <div class="tab-pane fade in active show update-background px-2 px-lg-4" id="panel-personal">
                    <div class="row">
                        <div class="col-lg-12">
                            <br />

                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(m => m.ContactId)
                            <fieldset>
                                <legend>Personal Details</legend>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Salutation, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(m => m.Salutation, Model.SalutationList, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Firstname, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Lastname, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label class="inline inline-block">Date of Birth</label>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.DoB, "{0:yyyy-MM-dd}", new { @class = "dob-field form-control", placeholder = "yyyy-MM-dd", type = "date" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Gender, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(m => m.Gender, Model.GenderList, "-- Select Gender --", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <br />
                            </fieldset>
                            <br />
                            <fieldset>
                                <legend>Contact Details</legend>
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Address1, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                                        <br />
                                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Country, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(m => m.Country, Model.CountryList, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Suburb, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Suburb, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.State_ID, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(m => m.State_ID, Model.StateList, "-- Select State --", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Postcode, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Mobile, new { @class = "inline inline-block" })
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(m => m.Email, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-9">
                                        <label class="inline">@Html.Raw(Model.Email)</label>
                                    </div>
                                </div>
                                <br />
                            </fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary btn-block" name="update:personal">Save</button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                
                <div class="tab-pane fade in update-background px-2 px-lg-4" id="panel-emergency">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                <legend>Emergency / Medical Details</legend>
                                <br />
                                @foreach (var item in Model.EmergencyContacts)
                                {
                                    var index = Model.EmergencyContacts.IndexOf(item) + 1;
                                    <strong>Emergency Contact @index </strong>
                                    @Html.HiddenFor(m => m.EmergencyContacts[index - 1].EmergencyContact_ID)
                                    <div class="row" style="margin-bottom:10px; margin-top:10px">
                                        <div class="col-lg-5">
                                            Emergency Contact Name
                                        </div>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(m => m.EmergencyContacts[index - 1].FullName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:10px">
                                        <div class="col-lg-5">
                                            Phone
                                        </div>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(m => m.EmergencyContacts[index - 1].Mobile, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            Relationship
                                        </div>
                                        <div class="col-lg-7">
                                            @Html.TextBoxFor(m => m.EmergencyContacts[index - 1].Relationship, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <br />
                                }
                            </fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary btn-block" name="update:emergency">Save</button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div id="panel-credential" class="tab-pane fade in update-background px-2 px-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <br />
                            <fieldset>
                                <legend>Change Password</legend>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.CurrentPassword, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.NewPassword, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-5">
                                        @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "inline inline-block" })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                            </fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary btn-block" name="update:credential">Save</button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


