﻿@model Planetshakers.Events.Mvc.Models.FundingGoalViewModel


@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}


<table id="FundingGoalTable" style="width: 100%;" class="table table-bordered">
    <thead class="table-active">
        <tr>
            <td>Due</td>
            <td>Cumulative Total (AUD)</td>
            <td>Date</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.FundingGoalList)
        {
            <tr id="FundingGoal_@v.ID">
                <td>@v.Milestone</td>
                <td>$@v.CumulativeTotal.ToString("0.00")</td>
                <td>@v.DueDate.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>