﻿@model Planetshakers.Events.Mvc.Models.EventIndexModel
@using Planetshakers.Events.Mvc.Models;

@{
    ViewBag.Title = "Believe";
    ViewBag.ButtonRegister = "Apply Now";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section scripts {
    @Scripts.Render("~/bundles/planetshakers/events/registration")
}

<div class="row" id="indexloaded">
    <div class="col-12 px-4">
        <!-- Automated Events sequencing and launching ordered by Events_Conference.SortOrder -->
        @foreach (var e in Model.Events)
        {
            <div class="event-row">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="event-index-banner" src="@e.banner_img" alt="@e.name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 pb-2">
                        <div class="event-info">
                            <h4>@e.name</h4>
                            <span class="subheader">@e.date<br /></span>
                            <span class="subheader">@e.location<br /></span>
                        </div>
                    </div>
                    @*removed barcode*@
                    <div class="col-lg-3 col-md-12 pb-2"></div>

                    <div class="col-lg-3 col-md-12 pb-2">
                        <div class="mx-1">
                            @if (e.rego_categories.Any())
                            {
                                <div class="">
                                    @if (e.allocatedToUser || e.boughtByUser)
                                    {
                                        if (e.ApplicationProgress == 1 || e.ApplicationProgress == 5)
                                        {
                                            <a href="@Url.Action("ApplicationForm", "Application", new { id = e.venueID })" class="btn btn-grey btn-block">Complete Application</a>
                                        }
                                        else if (e.ApplicationProgress == 2)
                                        {
                                            <a href="#" class="btn btn-grey btn-block">Processing Application</a>
                                        }
                                        //after the application is approved or denied
                                        else if (e.ApplicationProgress == 3)
                                        {
                                            <a href="@Url.Action("TripDetails", "TripDetails", new { id = e.venueID })" class="btn btn-black btn-block">Trip Details</a>
                                            <a href="@Url.Action("Registrations", "Events", new { id = e.venueID })" class="btn btn-grey btn-block">Payment Details</a>                                            
                                        }
                                        else if (e.ApplicationProgress == 6)
                                        {
                                            <a href="#" class="btn btn-grey btn-block">No Longer Attending</a>
                                            <a href="@Url.Action("Registrations", "Events", new { id = e.venueID })" class="btn btn-grey btn-block">Payment Details</a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-grey btn-block">Application Denied</a>
                                        }
                                        @*<a href="@Url.Action("Registrations", "Events", new { id = e.venueID })" class="btn btn-grey btn-block">View Registrations</a>*@

                                        <!-- new outstanding balance payment button here -->
                                    }
                                    else if (e.remainingRegosVenue <= 0)
                                    {
                                        <a href="@Url.Action("Register", "Events", new { id = e.venueID })" class="btn btn-black btn-block disabled">Registration Full</a>

                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Register", "Events", new { id = e.venueID })" class="btn btn-black btn-block">@ViewBag.ButtonRegister</a>
                                    }
                                </div>
                            }
                            else
                            {
                                <div>
                                    @*<a href="@Url.Action("Registrations", "Events", new { id = e.venueID })" class="btn btn-grey btn-block">View Registrations</a>*@
                                    <a href="#" class="btn btn-black btn-block">Registrations Closed</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.7.1.min.js")"></script>

<script type="text/javascript">

    function ClickAddOnBtn(Venue_ID) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "Events/AddOns",
            data: { "Venue_ID": Venue_ID },
            success: function (json) {
                console.log(json)
                $("#AddOnModalBody").html(json)
                $("#AddOnsModal").modal("show")

            },
            error: function () {
                alert("Unable to open window.");
            }
        });
    }

</script>