﻿@model Planetshakers.Events.Mvc.Models.EventSummaryModel
@using Planetshakers.Events.Mvc.Controllers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Planetshakers Registration";
}
@section scripts {
    @Scripts.Render("~/bundles/planetshakers/events/registration")
}

@Html.Hidden("Contact_ID", Model.Contact_ID)
@Html.Hidden("Event_ID", Model.SelectedEvent.id)
<div class="row mx-0">
    <div class="col-lg-12">
        <div class="event-reg-container">
            <div class="row event-banner-container">
                <div class="col-lg-12">
                    <img class="event-banner" src="@(Url.Content(Model.SelectedEvent.banner_img))" alt="@Model.SelectedEvent.name">
                </div>
            </div>
            <div class="row mx-0 p-2">
                <div class="col-lg-12">
                    <div class="event-summary border-bottom">
                        <div class="row">
                            <div class="col-md-9 registrations-header">
                                <h3>@Model.SelectedEvent.name</h3>
                                <h5 class="subheader">@Model.SelectedEvent.date</h5>
                                <h5 class="subheader">@Model.SelectedEvent.location</h5>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>

            <!-- notifications area -->
            @if (Model.HasGroupRegistrations)
            {
                <div class="row event-alert-container mx-0 p-2">
                    <div class="col-sm-12">
                        <div class="row">
                            <div id="box-registered" class="col-lg-4">

                                <a class="secondary event-alert-positive active btn btn-block rego-toggle-btn">
                                    <i class="fa fa-ticket-alt fa-2x"></i>
                                    <div id="box-registered-text">You are registered</div>
                                    <div>&nbsp;&nbsp;</div>
                                </a>
                            </div>

                            @if (Model.SelectedEvent.outstandingBalance > 0)
                            {
                                <div id="box-allocated" class="col-lg-4">

                                    <a class="btn btn-block secondary event-alert-positive" href="javascript:outstandingModal(@Model.SelectedEvent.id, @Model.SelectedEvent.totalCost, @Model.SelectedEvent.outstandingBalance);">
                                        <i class="fa fa-user fa-2x"></i>
                                        <div id="payOutstanding-title">Pay Outstanding Balance</div>
                                        <div>&nbsp;&nbsp;</div>
                                    </a>
                                </div>
                            }

                            @if (Model.addOnModel.AddOnList.Count > 0)
                            {
                                <div id="box-allocated" class="col-lg-4">

                                    <a class="btn btn-block secondary event-alert-positive alloc-toggle-btn">
                                        <i class="fa fa-user fa-2x"></i>
                                        <div id="allocation-title">Add Ons</div>
                                        <div>&nbsp;&nbsp;</div>
                                    </a>
                                </div>
                            }
                            @*add for under 16 consents?*@
                        </div>
                    </div>
                </div>
                <br />
            }
            <!-- Alerts -->
            @if (ViewBag.Error != null)
            {
                <div class="row mx-0 p-2">
                    <div class="col-sm-12">
                        <div class="alert alert-danger">@ViewBag.Error</div>

                    </div>
                </div>
            }
            @if (ViewBag.Success != null)
            {
                <div class="row mx-0 p-2">
                    <div class="col-sm-12">
                        <div class="alert alert-success">@ViewBag.Success</div>

                    </div>
                </div>

            }

            <!-- your registrations / purchases  TAB1-->
            <div class="row mx-0 p-2" id="rego">
                <div class="col-sm-12">
                    <div id="single_registrations" @(Model.CurrentSingleRegistrations.Any() ? "" : "style='display:none'")>
                        <h6><strong>Payment Summary</strong></h6>
                        <table id="summaryBalance" class="table-bordered footable" data-sort="false">
                            <thead class="table-active">
                                <tr>
                                    <th data-hide="phone">Total Cost</th>
                                    <th data-hide="phone">Total Payment</th>
                                    <th data-toggle="true">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>AUD @Model.SelectedEvent.totalCost.ToString("0.00")</td>
                                    <td>AUD @Model.SelectedEvent.totalPayment.ToString("0.00")</td>
                                    <td>AUD @Model.SelectedEvent.outstandingBalance.ToString("0.00")</td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <p>Please be reminded that, at the time you applied for this Believe Mission Trip, you read, understood, accepted and agreed to the Terms and Conditions for the Believe Trip. <br> For your convenience, you can view the Terms and Conditions <a href="#" onclick="OpenTnCmodal()">here</a>.</p>

                        <hr />
                        <br />
                        <h6>Your Registrations:</h6>
                        <table id="single-reg-table" class="table-bordered footable" data-sort="false">
                            <thead class="table-active">
                                <tr>
                                    <th data-hide="phone">Reference Number</th>
                                    <th data-hide="phone">Group Leader</th>
                                    <th data-toggle="true">Registration Type</th>
                                    <th data-hide="phone">Registration Date</th>
                                    <th data-hide="phone">Registration Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CurrentRegistration reg_single in Model.CurrentSingleRegistrations)
                                {
                                    <tr>
                                        <td>@(reg_single.registration_id)</td>
                                        <td>@(reg_single.group_leader)</td>
                                        <td>@(reg_single.registration_name)</td>
                                        <td>@(reg_single.registration_date.ToShortDateString())</td>
                                        <td>@(reg_single.currency) @(reg_single.cost_total)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <h6>Your Payments:</h6>
                        <table id="single-reg-table" class="table-bordered footable" data-sort="false">
                            <thead class="table-active">
                                <tr>
                                    <th data-toggle="true">Payment ID</th>
                                    <th data-hide="phone">Payment Amount</th>
                                    <th data-hide="phone">Type</th>
                                    <th data-hide="phone">Source</th>
                                    <th data-hide="phone">Paid By</th>
                                    <th data-hide="phone">Payment Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PaymentList.Any())
                                {
                                    foreach (var item in Model.PaymentList)
                                    {
                                        var now = DateTime.Now;
                                        <tr id="@item.ID">
                                            <td>@item.ID</td>
                                            <td>@item.Amount.ToString("0.00")</td>
                                            <td>@item.PaymentType</td>
                                            <td>@item.PaymentSource</td>

                                            @*paid by*@
                                            @if (item.PaymentSource_ID == 2 || item.PaymentSource_ID == 1)
                                            {
                                                <td>@item.ContactName</td>
                                            }
                                            else if (item.PaymentSource_ID == 3)
                                            {
                                                @*if (item.Amount > 0)
                                                    {
                                                        if (item.SponsorDetails.Annonymous)
                                                        {
                                                            <td>Anonymous</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@item.SponsorDetails.FirstName @item.SponsorDetails.LastName</td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td> - </td>
                                                    }*@
                                                <td>Anonymous</td>

                                            }
                                            else
                                            {
                                                //college fund, group invoice
                                                <td> - </td>
                                            }

                                            <td>@item.CompletedDate</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <br />
                        <h6>Sponsorships:</h6>
                        <table id="single-reg-table" class="table-bordered footable" data-sort="false">
                            <thead class="table-active">
                                <tr>
                                    <th data-toggle="true">ID</th>
                                    <th data-hide="phone">Status</th>
                                    <th data-hide="phone">Amount</th>
                                    <th data-hide="phone">Type</th>
                                    <th data-hide="phone">Paid By</th>
                                    <th data-hide="phone">Payment Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.sponsorshipList.Any())
                                {
                                    foreach (var item in Model.sponsorshipList)
                                    {
                                        <tr id="Sponsor_@item.ID">
                                            <td>@item.ID</td>
                                            <td>@item.SponsorshipStatus</td>
                                            <td>@item.Amount.ToString("0.00")</td>
                                            <td>@item.PaymentType</td>
                                            @if (item.SponsorshipStatus == "Donated")
                                            {
                                                <td>@item.PaidBy</td>
                                            }
                                            else
                                            {
                                                if ((bool)item.Anonymous)
                                                {
                                                    <td>Anonymous</td>
                                                }
                                                else
                                                {
                                                    <td>@item.PaidBy</td>
                                                }

                                            }

                                            <td>@item.CompletedDate</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @if (Model.addOnModel.AddOnList.Count > 0)
            {
                <!-- allocated group registrations  TAB 3-->
                <div class="row mx-0 p-2" id="allocated" style="display:none">
                    <div class="col-sm-12">
                        <h6>Add Ons</h6>
                        <div id="AddOnContent">
                            <p>You are allocated to the following Add On(s), please make sure to pay off your balance:</p>

                            <table id="AddOnTable" style="width: 100%;" class="table table-bordered">
                                <thead class="table-active">
                                    <tr>
                                        <td>Registration Type</td>
                                        <td>Cost</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var v in Model.addOnModel.AddOnList)
                                    {
                                        <tr id="AddOnRego_@v.RegistrationType_ID">
                                            <td>@v.RegistrationType</td>
                                            <td>$@v.Cost.ToString("0.00")</td>
                                            @if (v.registered)
                                            {
                                                <td> <button class="btn btn-primary" disabled>Paid</button> </td>
                                            }
                                            else
                                            {
                                                <td><button id="BtnAddRegistrationType_@v.RegistrationType_ID" class="btn btn-primary" onclick="AddRego(@v.RegistrationType_ID, 0, @Model.addOnModel.Venue_ID)">Pay</button></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            <br />
        </div>
    </div>
</div>

<div id="processing" class="modal popup center" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" style="text-align:center;">
                    <div class="col-12 my-4">
                        <h4><strong>Processing...</strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="TermsAndConditionsModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div id="TermsAndConditionsContent">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Terms and Conditions</h5><br />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" style="max-height: 400px; overflow: auto">
                        <div class="col-lg-12">
                            <div class="tab-content">
                                <div class="tab-pane active show update-background px-2 px-lg-4" id="TnC_Content">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadDocumentModal" tabindex="-1" role="dialog" aria-labelledby="uploadDocument" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadDocType">Upload Document </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="doc-notification" class="alert hidden"></div>
                <form id="doc-upload" class="mb-2">
                    <div class="row">
                        <div class="col-4">
                            <label>Document:</label>
                        </div>
                        <div class="col-8" style="text-align: center">
                            <input type="file" id="docFile" name="docfFile" value="UploadFile" accept=".png, .jpg, .jpeg, application/pdf, .pdf;capture=camera">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="UploadDocumentBtn" onclick="clickUploadDocumentBtn()">Upload</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (Model.SelectedEvent.outstandingBalance > 0)
{
    @*outstanding modal*@
    <div class="modal fade" id="outstandingModal" tabindex="-1" role="dialog" aria-labelledby="outstandingPayment" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="creditConfirmationTitle">Outstanding Payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="credit_info" class="alert alert-warning" style="display:none">
                        <strong>Processing...</strong>
                        <a href="#" class="close">&times;</a>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            Total:
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" style="text-align: right; margin-bottom: 5px" readonly id="modaltotalCost" />
                        </div>
                        <div class="col-8">
                            Paid:
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" style="text-align: right; margin-bottom: 5px" readonly id="modalPaid" />
                        </div>
                        <div class="col-8">
                            Outstanding:
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" style="text-align: right; margin-bottom: 5px" readonly id="outstandingvalue" />
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-12">
                            Funding Milestones (excluding Add Ons):
                        </div>
                        <div class="col-12" id="FundingGoalTable">

                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-8">
                            Amount:
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" style="text-align: right;" id="outstandingpaymentamount" />
                            <div id="outstandingalert" style=" color:red; font-size: small">Minimum of AUD 2</div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-12">
                            <a id="payOutstandingbtn" href="@Url.Action("OutstandingBalance", "Payment")" style="margin-top:5px" class="btn btn-block btn-warning">Pay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.7.1.min.js")"></script>
<script>
    function AddRego(RegoType_ID, group_ID, venue_id) {
        var returnUrl = '';
        if ($('#returnurl').val() !== null) {
            returnUrl = '?returnUrl=' + $('#returnurl').val();
        }
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/Events/SubmitRegistration' + returnUrl,
            //data: { "RegistrationType_ID": RegoType_ID, "group_ID": group_ID, "venue_id": venue_id },
            data: JSON.stringify({ "RegistrationType_ID": RegoType_ID, "group_ID": group_ID, "venue_id": venue_id }),
            dataType: 'json',
            success: function (response) {

                if (response.isSuccess) {
                    window.location.href = response.value;
                } else {
                    alert("Failed! || " + response.value);
                }
            },
            error: function (error) {
                console.log('failed');
            }
        });
    }

    $(document).ready(function () {
        $("#outstandingpaymentamount").on("input", function () {
            var amount = parseInt($("#outstandingpaymentamount").val())
            var maxAmount = parseInt($("#outstandingvalue").val())

            console.log(amount)
            if (amount > maxAmount) {
                $("#outstandingalert").html("You cannot pay more than your current outstanding amount")
                $("#outstandingalert").show()
                $("#payOutstandingbtn").addClass("disabled")
            } else if (amount >= 2) {
                $("#outstandingalert").hide()
                $("#payOutstandingbtn").removeClass("disabled")

                var href = $('#payOutstandingbtn').attr('href');
                var str = href.substring(0, href.lastIndexOf("&") + 1) + "amount=" + amount
                $('#payOutstandingbtn').attr('href', str);
            } else {
                $("#outstandingalert").html("Minimum of AUD 2")
                $("#outstandingalert").show()
                $("#payOutstandingbtn").addClass("disabled")
            }
        })
    })

    function outstandingModal(event_id, totalCost, outstanding) {

        $.ajax({
            cache: false,
            type: "POST",
            url: "/Events/getFundingGoalTable",
            data: { "Event_ID": event_id },
            success: function (json) {
                $("#FundingGoalTable").html(json)
                $("#modaltotalCost").val(totalCost)
                $("#modalPaid").val(totalCost - outstanding)
                $("#outstandingvalue").val(outstanding)
                $("#payOutstandingbtn").attr("href", "/Payment/OutstandingBalance?event_id=" + event_id + "&amount=0")
                $("#outstandingModal").modal("show")
            },
            error: function () {
                alert("Unable to get Funding Milestones.");
            }
        });
    }

    function OpenTnCmodal() {
        var Event_ID = $("#Event_ID").val()
        $.ajax({
            type: 'POST',
            url: '/Events/TermsAndConditions',
            data: { "Event_ID": Event_ID },
            dataType: 'json',
            success: function (json) {
                $("#TnC_Content").html(json.content);
                $("#TermsAndConditionsModal").modal("show");
            },
            error: function (error) {
                console.log('Unable to show Terms and Conditions');
            }
        });
    }

</script>