﻿@model Planetshakers.Events.Mvc.Models.EventRegisterModel
@using Planetshakers.Business.External.Events;
@using Planetshakers.Events.Mvc.Controllers;
@{
    ViewBag.Title = "Believe | " + Model.SelectedEvent.name;
    ViewBag.ButtonRegister = "Register";
    ViewBag.ButtonSponsor = "Sponsor";
    ViewBag.CalculatedTotalLabel = "Calculated total";
    ViewBag.CalculatedTotalInputName = "total";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<int> reg_IDs = new List<int>();
}
@section scripts {
    @Scripts.Render("~/bundles/planetshakers/events/register")
}

<script>
    var id = '@Model.SelectedEvent.id';


</script>

<div class="row mx-0">
    <div class="col-lg-12">
        <div class="event-reg-container">
            <div class="row event-banner-container">
                <div class="col-lg-12">
                    <img class="event-banner" src="@(Url.Content(Model.SelectedEvent.banner_img))" alt="">
                </div>
            </div>
            <div class="row mx-0 px-2">
                <div class="col-sm-12">
                    <div class="event-summary border-bottom">
                        <h3>@Model.SelectedEvent.name</h3>
                        <h5 class="subheader">@Model.SelectedEvent.date</h5>
                        <h5 class="subheader">@Model.SelectedEvent.location</h5>
                    </div>

                    @if (Model.SelectedEvent.rego_categories.Any())
                    {
                        <form class="form-group">
                            @Html.Hidden("VenueId", Model.VenueId)
                            @Html.Hidden("Event_ID", Model.SelectedEvent.id)
                            <div class="new-rego-header">
                                <h4>New Application</h4>
                            </div>

                            <div class="rego-categories">
                                @foreach (RegistrationCategory regCat in Model.SelectedEvent.rego_categories)
                                {
                                    if (!reg_IDs.Contains((int)regCat.group_id))
                                    {
                                        reg_IDs.Add((int)regCat.group_id);
                                        <a id="@(regCat.group_id)_RegisterCategoryButton" href="#" type="submit" class="btn reg-category-btn secondary">Application</a>
                                    }
                                }
                            </div>
                            <br />
                            @foreach (RegistrationCategory regCat in Model.SelectedEvent.rego_categories)
                            {
                                <input type="hidden" class="form-control" id="@(regCat.group_id)_QuantityPurchased" value="@(Model.registrationCount((int)regCat.group_id))" />
                                <div class="rego-groups" id="@(regCat.group_id)_RegistrationGroup">

                                    <table class="table-bordered expand" data-sort="false">
                                        <thead class="table-active">
                                            <tr>
                                                <th>Registration Type</th>
                                                <th data-hide="phone">Price</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (RegistrationType regType in regCat.rego_types)
                                            {
                                                <tr>
                                                    <td>@(regType.name)</td>
                                                    <td>@(Model.SelectedEvent.currency) <span id="@(regType.id)_Cost">@(regType.cost)</span></td>
                                                    <td><button onclick="OpenTnCmodal(@regType.id, @regCat.group_id, event)" style="color: white;" class="btn btn-block btn-primary">Apply</button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <br />
                                    @*<div class="row mx-0">
                                            <div class="col-lg-12 px-0">
                                                <strong>Please Note:</strong>
                                            </div>
                                            <div class="col-sm-11 offset-sm-1 px-0">
                                                <p>
                                                    <input id="TermsAndConditionsCheckbox" type="checkbox" onclick="termsAndConditionsClicked()" style="margin-right: 5px" />
                                                    I hereby have read, accept and agree to the <a href="@Url.Action("TermsAndConditions", "Events")" target="_blank">terms and conditions</a>.
                                                </p>
                                            </div>
                                        </div>*@

                                </div>
                            }
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="TermsAndConditionsModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div id="TermsAndConditionsContent">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Terms and Conditions</h5><br />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" style="max-height: 400px; overflow: auto">
                        <div class="col-lg-12">
                            <div class="tab-content">
                                <div class="tab-pane active show update-background px-2 px-lg-4" id="TnC_Content">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <br />
                            <input id="TermsAndConditionsCheckbox" type="checkbox" onclick="termsAndConditionsClicked()" style="margin-right: 5px" />
                            By ticking this checkbox, I acknowledge that I have read, understand and agree to the Terms and Conditions and to be added to the Believe Mission Trip mailing list.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="SubmitBtn" onclick="RegisterFor()" disabled>Submit</button>
                    <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function checkEnter(e) {
        e = e || event;
        var txtBox = /textarea/i.test((e.target || e.srcElement).tagName);
        return txtBox || (e.keyCode || e.which || e.charCode || 0) !== 13;
    }

    document.querySelector('form').onkeypress = checkEnter;

    function termsAndConditionsClicked() {
        var agreed = document.getElementById("TermsAndConditionsCheckbox").checked
        if (agreed) {
            $('#SubmitBtn').prop('disabled', false);
        } else {
            $('#SubmitBtn').prop('disabled', true);
        }
    }

    function OpenTnCmodal(RegoType_ID, group_ID, event) {
        event.preventDefault();
        var Event_ID = $("#Event_ID").val();
        $.ajax({
            type: 'POST',
            url: '/Events/TermsAndConditions',
            data: { "Event_ID": Event_ID },
            dataType: 'json',
            success: function (json) {
                $("#TnC_Content").html(json.content);
                $("#SubmitBtn").attr("onclick", "RegisterFor(" + RegoType_ID + ", " + group_ID + ", event)")
                $("#TermsAndConditionsModal").modal("show");
            },
            error: function (error) {
                console.log('Unable to apply');
            }
        });
    }

    function RegisterFor(RegoType_ID, group_ID, event) {
        event.preventDefault();
        var returnUrl = '';
        if ($('#returnurl').val() !== null) {
            returnUrl = '?returnUrl=' + $('#returnurl').val();
        }
        var venue_id = $('#VenueId').val();
        var agreed = document.getElementById("TermsAndConditionsCheckbox").checked

        if (!agreed) {
            alert("Please read and agree to the terms and conditions")
        } else {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Events/SubmitRegistration' + returnUrl,
                data: JSON.stringify({ "RegistrationType_ID": RegoType_ID, "group_ID": group_ID, "venue_id": venue_id }),
                dataType: 'json',
                success: function (response) {
                    if (response.isSuccess) {
                        window.location.href = response.value;
                    } else {
                        alert("Failed! || " + response.value);
                    }
                },
                error: function (error) {
                    console.log('failed');
                }
            });
        }

    }

</script>