﻿@{
    ViewBag.Title = "Believe | Terms And Conditions";
}

<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div style="margin-left : 14px" class="col-lg-12 border-bottom">
                <h2>Terms and Conditions</h2>
            </div>
        </div>
        <div class="row terms-conditions-container">
            <div style="margin-left : 14px" class="col-lg-12">
                @*<strong>Terms and Conditions</strong>*@
                <div>
                    By completing this online registration, you acknowledge and agree to the terms and conditions below.
                </div>
                <br />

                <div>
                    <u>1. Confirmation of Acceptance for Mission Trip</u>
                </div>
                <div>
                    You acknowledge and understand that by completing this online registration, you are applying to be a part of the Believe mission trip. Your application will be assessed and you will be notified of the outcome via email within two weeks of application.
                </div>
                <div>
                    If you are accepted, you must pay the remainder of the registration fee in accordance with clause 2 below.
                </div>
                <div>
                    If you are not accepted, you acknowledge that your deposit payment will not be refundable.
                </div>

                <br />
                <div>
                    <u>2. Payment</u>
                </div>
                <div>
                    Where you are accepted to be a part of the Mission Trip, you agree to pay <u>$2,700.00</u> to cover the costs of your participation in the Mission Trip (i.e. flights, accommodation, transport and food), in accordance with the payment deadlines below:
                </div>
                <div>
                    <ul>
                        <li>On registration - $50.00 (non-refundable reposit);</li>
                        <li>1st Deadline - 10th April 2022 - $1,200</li>
                        <li>2nd Deadline - 1st May 2022 - $850</li>
                        <li>Final Deadline - 15th May 2022 - $600</li>
                    </ul>
                </div>
                <div>
                    All amounts are in AUD and are subject to GST.
                </div>
                <br />

                <div>
                    <u>3. Amendment / Change Fee</u>
                </div>
                <div>
                    Any amendment in relation to your travel for the mission trip (i.e. extension requests, flight changes, name changes etc.) made after 10th April 2022 will incur a service fee of $75 per person <span style="color: red">plus</span> 10% GST. This is in addition to any supplier fees or charges associated with the change.
                </div>
                <br />

                <div>
                    <u>4. Cancellation Policy</u>
                </div>
                <div>
                    If you choose to cancel you registration for any reason, you understand that the full deposit is non-refundable and the following will apply:
                    <ul>
                        <li>Up to <span style="color: red">10th April 2022</span>, $1000 will be forfeited and any remaining amount paid will be refunded;</li>
                        <li>From <span style="color: red">11th April to 30th April 2022</span>, $1250 will be forfeited and any remaining amount paid will be refunded.</li>
                        <li>From <span style="color: red">1st May to 22nd May 2022</span>, $2,100 will be forfeited and any remaining amount paid will be refunded.</li>
                        <li>From <span style="color: red">23rd May 2022</span> onwards, the full amount of $2,700 will be forfeited and no refund will be given.</li>
                    </ul>
                </div>
                <br />

                <div>
                    <u>5. Transfer of Registrations Policy</u>
                </div>
                <div>
                    Individual registrations can be transferred to another individual to attend the mission trip by putting a request in writing to subject to additional costs that may be incurred in amending/cancelling flight tickets.
                </div>
                <div>
                    However, you may not transfer this registration from this mission trip to a different mission trip.
                </div>
                <br />

                <div>
                    <u>6. Other Terms and Conditions</u>
                </div>
                <div>
                    Where you are accepted to be a part of the Mission Trip, you acknowledge and understand that:
                    <ul>
                        <li>You may be required to attend briefings and training sessions prior to the mission trip;</li>
                        <li>You may be required to comply with policies and procedures in respect of the mission trip;</li>
                        <li>You may be required to complete additional forms in respect of the mission trip (e.g. media waiver, medical consent etc).</li>
                    </ul>
                </div>
                <div>
                    You also acknowledge and understand that failure by you to comply with the above may result in your removal from the Mission Trip. In such case, you will be deemed to have cancelled and the cancellation policy above will apply.
                </div>
            </div>
        </div>
    </div>
</div>