﻿@model Planetshakers.Events.Mvc.Models.InvitationLoginPromptModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-11 offset-lg-1">
        <div class="event-reg-container">
            <div class="row event-banner-container">
                <div class="col-lg-12">
                    <img class="event-banner" src="@(Url.Content(Model.Event.banner_img))" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 offset-sm-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Please sign in or register to accept your invitation!</h3>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-8">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Url.Action("Registrations", "Events")}))
                            {
                                <fieldset>
                                    <legend>Sign in</legend>
                                    <div class="row">
                                        <div class="col-lg-3 offset-lg-1">
                                            @Html.LabelFor(m => m.Email, new { @class = "form-label inline" })
                                        </div>
                                        <div class="col-lg-8">                                           
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 offset-lg-1">
                                            @Html.LabelFor(m => m.Password, new { @class = "form-label inline" })
                                        </div>
                                        <div class="col-lg-8">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 offset-lg-4 end">
                                            <input type="submit" class="btn btn-primary" value="@ViewBag.ButtonSubmit" /> or <a>@Html.ActionLink("Forgot your password?", "ForgetPassword", "Account")</a>
                                        </div>
                                    </div>
                                </fieldset>
                            }

                        </div>
                        <div class="col-lg-4">
                            <form>
                                <fieldset>
                                    <legend>Register</legend>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>New user? Please proceed to the registration page by clicking on the register button below.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-block">Register</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>