﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h3>@ViewBag.Message</h3>
        <span>This invitation has expired, been revoked or does not exist. Please inform your group leader.</span>
    </div>
</div>

