﻿@model Planetshakers.Events.Mvc.Models.InvitationRegisterChildModel
@using Planetshakers.Events.Mvc.Controllers;
@{
    ViewBag.Title = "Allocate Child";
}

@section scripts {
    @Scripts.Render("~/bundles/planetshakers/invitation/register")
}

<div class="row">
    <div class="col-lg-9 offset-lg-1">
        <div class="row">
            <div class="col-lg-12 border-bottom account-registration-header">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div id="manual_allocation" class="row">
            <div class="col-lg-10 offset-lg-1">
                @if (ViewBag.Error != null) { 
                <div id="register_alert" data-alert class="alert alert-warning">
                    @ViewBag.Error
                </div>
                }
                @using (Html.BeginForm("RegisterChild", "Invitation", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <input name="registrationTypeID" type="hidden" value="0">
                    <div id="manual_1">
                        <div class="row">
                            <div class="col-sm-12">
                                <fieldset>
                                    <legend>Personal Details</legend>
                                    @Html.Partial("_BasicDetailsChild", Model.basicDetails,
                                    new ViewDataDictionary()
                                    {
                                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "basicDetails" }
                                    })
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 offset-sm-6">
                                <a href="#" class="btn btn-primary btn-block next-btn">Next</a>
                            </div>
                        </div>
                    </div>
                    <div id="manual_2">
                        <div class="row">
                            <div class="col-sm-12">
                                <fieldset>
                                    <legend>Emergency / Medical Details</legend>
                                    @Html.Partial("_EmergencyDetailsChild", Model.emergencyDetails,
                                    new ViewDataDictionary()
                                    {
                                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "emergencyDetails" }
                                    })
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="#" class="btn btn-primary btn-block prev-btn">Previous</a>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
