﻿<div class="row">
    <div class="col-lg-8">
        <h2>Thank you for letting us know!</h2>
        <span>We're sorry that you're unable to make it to the event.
        If you do end up changing your mind, you can contact your friend
        who invited you or alternatively you can visit the
         @Html.ActionLink("registration website", "Index", "Events").</span>
    </div>
</div>

