﻿@model Planetshakers.Events.Mvc.Models.ChildEnrolmentModel
@using Planetshakers.Events.Mvc.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section scripts {
    @Scripts.Render("~/bundles/planetshakers/events/childenrolment")
}

@helper RenderQuestion(Question q)
{
    var required = (q.required) ? "required" : "";

    if (q.type.Equals("TextArea"))
    {
        <div class="col-lg-12">
            <label style="display:inline;">@q.question</label>@if (q.required) { <span style="color:red;"> *</span> }
            <input id="question_@q.question_ID" type="text" value="@q.answer" rows="3" name="question_@q.question_ID" class="form-control" @required/>
        </div>
    }
    else if (q.type.Equals("Checkbox"))
    {
        var checkd = (q.answer.Equals("yes")) ? "checked" : "";
        <div class="col-lg-12">
            <span><input id="question_@q.question_ID" type="checkbox" value="yes" name="question_@q.question_ID" @required @checkd /></span>
            <label style="display:inline;">@q.question</label>
        </div>
    }
}

<div class="row mx-0 px-2">
    <div class="col-lg-12 border-bottom">
        <h4><strong>Child Enrolment Form</strong></h4>
    </div>
    <div class="col-lg-12 form-group">
        @using (Html.BeginForm("SubmitChildEnrolment", "Form", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.childEnrolment.ChildEnrolment_ID, new { Value = Model.childEnrolment.ChildEnrolment_ID })
            @Html.HiddenFor(m => m.childEnrolment.Registration_ID, new { Value = Model.childEnrolment.Registration_ID })
            @Html.HiddenFor(m => m.childEnrolment.Contact_ID, new { Value = Model.childEnrolment.Contact_ID })
            @Html.HiddenFor(m => m.venue_ID, new { Value = Model.venue_ID })
        <fieldset>
            <legend>Child Details</legend>
            <div class="col-lg-12">
                @if (String.IsNullOrEmpty(Model.childEnrolment.FirstName))
                {
                    <label>Full Name</label>
                    @Html.TextBoxFor(m => m.childEnrolment.Name, new { required = "required", @class = "form-control" })
                    <br />
                }
                else
                {
                    <label>Full Name</label>
                    @Html.TextBoxFor(m => m.childEnrolment.Name, new { disabled = "disabled", @class = "form-control" })
                    @Html.HiddenFor(m => m.childEnrolment.FirstName, new { Value = Model.childEnrolment.FirstName })
                    @Html.HiddenFor(m => m.childEnrolment.LastName, new { Value = Model.childEnrolment.LastName })
                    <br />
                }
            </div>
            <br />
            <div class="col-lg-12">
                @if (Model.childEnrolment.DateOfBirth == null || Model.childEnrolment.DateOfBirth == DateTime.Today)
                {
                    <label style="display:inline;">Date Of Birth</label><span style="color:red;"> *</span>
                    @Html.TextBoxFor(m => m.childEnrolment.DateOfBirth, new { type = "date", required = "required", @class = "form-control" })
                    <br />
                }
                else
                {
                    <label>Date Of Birth</label>
                    @Html.TextBoxFor(m => m.childEnrolment.DateOfBirth, new { disabled = "disabled", @class = "form-control" })
                    @Html.HiddenFor(m => m.childEnrolment.DateOfBirth, new { Value = Model.childEnrolment.DateOfBirth })
                }
            </div>
            <br />
            <div class="col-lg-12">
                <label>Age</label>
                @Html.TextBoxFor(m => m.childEnrolment.Age, new { disabled = "disabled", @class = "form-control" })
            </div>
            <br />
            <div class="col-lg-12">
                <label>Grade</label>
                @Html.DropDownListFor(m => m.childEnrolment.ChildSchoolGrade_ID, Model.schoolGrade_list, Model.childEnrolment.ChildSchoolGrade_ID)
            </div>
            <br />
            <div class="col-lg-12">
                <label>Additional Information</label>
                @Html.TextAreaFor(m => m.childEnrolment.AdditionalInformation, new { @class = "form-control" })
            </div>
            <br />
        </fieldset>
            <fieldset>
                <legend>Room Allocation</legend>
                <div class="col-lg-12">
                    <strong>@Model.childEnrolment.RoomAllocation</strong>
                </div>
                <br />
            </fieldset>
            <fieldset>
                <legend>Parent/Guardian Details</legend>
                <div class="col-lg-12">
                    <label style="display:inline;">Name</label><span style="color:red;"> *</span>
                    @Html.TextBoxFor(m => m.childEnrolment.ParentName, new { required = "required", @class = "form-control" })
                </div>
                <br />
                <div class="col-lg-12">
                    <label style="display:inline;">Email</label><span style="color:red;"> *</span>
                    @Html.TextBoxFor(m => m.childEnrolment.ParentEmail, new { required = "required", @class = "form-control" })
                </div>
                <br />
                <div class="col-lg-12">
                    <label style="display:inline;">Mobile</label><span style="color:red;"> *</span>
                    @Html.TextBoxFor(m => m.childEnrolment.ParentMobile, new { required = "required", @class = "form-control" })
                </div>
                <br />
            </fieldset>
            <fieldset>
                <legend>Emergency Contact Information</legend>
                * Other than above
                <br />
                <div class="col-lg-12">
                    <strong>Person 1</strong>
                </div>
                <br />
                <div class="col-lg-12">
                    <label style="display:inline;">Name</label><span style="color:red;"> *</span>
                    @Html.TextBoxFor(m => m.childEnrolment.EmergencyContactName, new { required = "required", @class = "form-control" })
                </div>
                <br />
                <div class="col-lg-12">
                    <label style="display:inline;">Mobile</label><span style="color:red;"> *</span>
                    @Html.TextBoxFor(m => m.childEnrolment.EmergencyContactNumber, new { required = "required", @class = "form-control" })
                </div>
                <br />
                <div class="col-lg-12">
                    <span style="color:red;"> *</span>
                    <label style="display:inline;">Relationship to child</label>
                    @Html.TextBoxFor(m => m.childEnrolment.EmergencyContactRelationship, new { required = "required", @class = "form-control" })
                </div>
                <br />
                <div class="col-lg-12">
                    <strong>Person 2</strong>
                </div>
                <br />
                <div class="col-lg-12">
                    <label style="display:inline;">Name</label><span style="color:red;"> *</span>
                    @Html.TextBoxFor(m => m.childEnrolment.EmergencyContactName2, new { required = "required", @class = "form-control" })
                </div>
                <br />
                <div class="col-lg-12">
                    <label style="display:inline;">Mobile</label><span style="color:red;"> *</span>
                    @Html.TextBoxFor(m => m.childEnrolment.EmergencyContactNumber2, new { required = "required", @class = "form-control" })
                </div>
                <br />
                <div class="col-lg-12">
                    <label style="display:inline;">Relationship to child</label><span style="color:red;"> *</span>
                    @Html.TextBoxFor(m => m.childEnrolment.EmergencyContactRelationship2, new { required = "required", @class = "form-control" })
                </div>
                <br />
                <div class="col-lg-12">
                    I agree that the above emergency contact people are OVER 18 and can only collect this child if they have a copy of the check in barcode or are contacted by Planetshakers staff in case of emergency.
                    If there are any custody arrangement we need to be aware of, please comment below:
                    <br />
                </div>
                <br />
                <div class="col-lg-12">
                    @Html.TextAreaFor(m => m.childEnrolment.Comments, new { rows = "4", @class = "form-control" })
                </div>
            </fieldset>
            <fieldset>
                <legend>Additional Consent</legend>
                <div class="col-lg-12">
                    <span>@Html.CheckBoxFor(m => m.medicalNeed)</span> <label style="display:inline;">  My child has a medical need (additional form required) </label><br />
                    <span>@Html.CheckBoxFor(m => m.allergyNeed)</span> <label style="display:inline;">  My child has an allergy need (additional form required) </label><br />
                    <span>@Html.CheckBoxFor(m => m.additionalNeed)</span> <label style="display:inline;">  My child has an additional need (additional form required) </label><br />
                    <span>@Html.CheckBoxFor(m => m.nappyNeed)</span> <label style="display:inline;">  My child wears a nappy (additional form required) </label>
                </div>
            </fieldset>
            <fieldset id="medicalForm">
                <legend>Medical/Allergy Management Action Plan</legend>
                <div>
                    <p><strong>If you are completing this form, you will need to check in with your child at the first aid stand at Plaentshakers Kids Conference</strong></p>
                    <p>(This form must be correctly filled in before your child is signed into our program)</p>
                    <p><strong>Please note: If your child has asthma or anaphylaxis, you are required to bring along their asthma puffer or Epi-pen. Without this they will not be able to attend the program.</strong></p>
                </div>
                

                @foreach (var q in Model.medicalQuestions)
                {
                    @RenderQuestion(q)
                }
            </fieldset>

            <fieldset id="additionalForm">
                <legend>Additional Needs Form</legend>
                @foreach (var q in Model.additionalQuestions)
                {
                    @RenderQuestion(q)
                }
            </fieldset>

            <fieldset id="nappyForm">
                <legend>Nappy Changing Consent Form</legend>
                <div>
                    <p>I give permission for a Planetshakers Kids Team member to:</p>
                </div>
                @foreach (var q in Model.nappyQuestions)
                {
                    @RenderQuestion(q)
                }
            </fieldset>
            <div class="col-lg-12">
                <strong>CONSENT AGREEMENT</strong>
                <ul>
                    <li>I hereby provide my consent for my child to take part in any Activities (as defined in Table 1) run by Planetshakers Ministries International Ltd ("Planetshakers") as part of Planetshakers Conference Melbourne 2022 ("Conference").</li>
                    <li>I give permission for Planetshakers to take photos which may include my child for the purpose of Planetshakers marketing and Social Media</li>
                    <li>I understand that the Planetshakers will take all reasonable steps to provide a safe environment for my child and ensure that all equipment supplied by them for the activities are of a reasonable standard.</li>
                    <li>In the event that my child is injured or harmed in the course of the activites, I agree that Planetshakers may authorise on my child's behalf whatever medical treatment he/she may require (including, but not limited to, ambulance attendance and hospital treatment). I agree to pay all medical expenses incurred as a result.</li>
                    <li>I acknowledge that Planetshakers will not be liable for any injury that may be suffered by my child which may arise either directly or indirectly from, or in connection with, the Activities.</li>
                    <li>I hereby agree to the indemnify Planetshakers against any and all claims arising from, or in connection with, any injury that may be suffered by my child or that my child may cause to another person, or as any loss or damage to property, equipment or personal effects belonging to my child or any other person, arising either directly or indirectly out of or in connection with my child's participation in the acitivities.</li>
                </ul>
            </div>
            <div class="col-lg-12">
                <strong>Table 1: Definitions</strong>
                <table class="table-bordered">
                    <tr>
                        <th>Activities</th>
                        <td>
                            Planetkids Conference Sessions which will include, but are not limited to, activities involving craft, food, inflatables, to be held at the following venue:
                            <ul>
                                <li>Melbourne Convention & Exhibition Centre (MCEC)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Social Media</th>
                        <td>This includes, but is not limited to, Instagram and Facebook.</td>
                    </tr>
                    <tr>
                        <th>Venues</th>
                        <td>
                            <ul>
                                <li>Melbourne Convention & Exhibition Centre (MECE), 1 Convention Centre P1, South Wharf VIC 3006</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <span>@Html.CheckBoxFor(m => m.childEnrolment.Verified)</span> <label style="display:inline;">I have read all of the above terms set out in this Child Enrolment Form and all other information provided by Planetshakers in relation to the Planetshakers Kids Conference, and agree to all the above terms.</label>
            <input style="margin-top:2em;" type="submit" class="btn btn-primary btn-block" value="Submit" />
        }
    </div>
</div>