﻿@model Planetshakers.Events.Mvc.Models.MedicalReq

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function updateMedical() {
        var id = $("#cid").val();
        var name = $("#emergency_name").val();
        var mobile = $("#emergency_mobile").val();
        var rel = $("#emergency_rel").val();
        var info = $("#info").val();
        var allergies = $("#allergies").val();

        var data = new Object();
        data.contact_id = id;
        data.name = name;
        data.mobile = mobile;
        data.rel = rel;
        data.info = info;
        data.allergies = allergies;

        $.ajax({
            cache: false,
            type: "POST",
            async: true,
            url: "/Form/SubmitMedicalForm",
            data: data,
            dataType: 'json',
            success: function (updated) {
                console.log('passed')
                if (updated) {
                    $("#alert-box").text("Thank you for updating your medical details.");
                    $("#alert-box").addClass("alert-success")
                    $("#alert-box").show();
                } else {
                    $("#alert-box").text("Sorry that we are unable to update your details. If this issue persists, please contact info@believeglobal.org.");
                    $("#alert-box").addClass("alert-warning")
                    $("#alert-box").show();
                }
            },
            error: function () {
                console.log("failed")
            }
        });
    }
</script>

<div class="row mx-2">
    <div class="col-lg-12 border-bottom">
        <h4><strong>Medical Form</strong></h4>
    </div>
    <div class="col-lg-12 form-group">
        <div class="alert font-weight-bold hidden" id="alert-box">

        </div>
        <!-- update medical req here-->
        <div id="medical_details">
            <p>Please update your medical details.</p>
            @Html.HiddenFor(x => x.contact_id, new { id="cid"})
            <div class="py-1">
                <label>Emergency Contact Name</label><span style="color:red;">*</span><br />
                @Html.TextBoxFor(x => x.emergency_name, new { id = "emergency_name", @class = "form-control", required = "required" })
            </div>
            <div class="py-1">
                <label>Emergency Contact Number</label><span style="color:red;">*</span><br />
                @Html.TextBoxFor(x => x.emergency_mobile, new { id = "emergency_mobile", @class = "form-control", })
            </div>
            <div class="py-1">
                <label>Emergency Contact Relationship</label><span style="color:red;">*</span><br />
                @Html.TextBoxFor(x => x.emergency_rel, new { id = "emergency_rel", @class = "form-control", required = "required" })
            </div>
            <div class="py-1">
                <label>Medical Infomation</label><span style="color:red;">*</span><br />
                @Html.TextBoxFor(x => x.info, new { id = "info", @class = "form-control", required = "required" })
            </div>
            <div class="py-1">
                <label>Dietary requirements (e.g. allergies, vegetarian)</label><span style="color:red;">*</span><br />
                @Html.TextBoxFor(x => x.allergies, new { id = "allergies", @class = "form-control", required = "required" })
            </div>
            <div class="py-1">
                <input action="action" type="button" value="Back" class="btn btn-secondary left" onclick="window.history.go(-1); return false;">
                <button class="btn btn-primary right" onclick="updateMedical()">Update</button>
            </div>
        </div>
    </div>
</div>
