﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Child Enrolment Form";
}


<div class="row mx-0 px-2">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12 border-bottom">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div>
            <h5>Thank you for submitting your child enrolment form! Click <a href="@Url.Action("Registrations","Events", new { id = @ViewBag.venueID })"><strong><u>here</u></strong></a> to view registrations.</h5>
        </div>
    </div>
</div>