﻿

<form action="/Payment/Checkout" id="checkout" method="post">
    <button class="btn btn-block btn-success font-weight-bold text-black-100" type="submit">Checkout</button>
</form>

<div id="processing" class="modal popup center" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" style="text-align:center;">
                    <div class="col-12 my-4">
                        <h4><strong>Processing...</strong></h4>
                    </div>
                    <div class="col-12 mb-4">
                        <img src="@Url.Content("~/Content/themes/planetshakers/img/loader.gif")" width="100" />
                        <p><br /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#checkout').on('submit', function () {
        $('processing').modal('show');
    }).then(function (result) {
        if (result.error) {
            console.log(result.error.message);
            $('processing').modal('hide');
        } else {
            console.log('succeeded');
        }
    });

    /*function createOverlay() {
        //add overlay here
        var ch = document.getElementById('checkout');
        ch.style.display = 'none';

        var loader = document.createElement('img');
        loader.src = Url.Content("~/Content/themes/planetshakers/img/loader.gif");
        var loaderStyle = {
            style: {
                display: 'block',
                marginLeft: 'auto',
                marginRight: 'auto'
            }
        };
        loader.style = loaderStyle;
        var ld = document.getElementById('loading');
        ld.style.display = 'block';
        ld.appendChild(loader);
    }*/
</script>