﻿@model Planetshakers.Events.Mvc.Models.CartModel


<link rel="stylesheet" type="text/css" href="@Url.Content("/Content/themes/planetshakers/css/stripe.css")" />



<form id="payment-form" data-secret="@ViewData["ClientSecret"]">
    <div id="card-element">
        <!--Stripe.js injects the Card Element-->
    </div>
    <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
    </button>
    <p id="card-error" role="alert" style="color:red"></p>
    <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
    </p>
</form>

<div id="processing" class="modal popup center" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" style="text-align:center;">
                    <div class="col-12 my-4">
                        <h4><strong>Processing...</strong></h4>
                    </div>
                    <div class="col-12 mb-4">
                        <img src="@Url.Content("~/Content/themes/planetshakers/img/loading.gif")" />
                        <p><br /></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var stripe = Stripe('@Model.CCPayment.BankAccount.PublishableKey');
    var venueId = '@Model.Event.venueID';
    var contactId = '@Model.ContactId';
    

    // define card payment style
    var elements = stripe.elements();
    var style = {
        base: {
            color: '#32325D',
            fontWeight: 600,
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSize: '16px',
            fontSmoothing: 'antialiased',

            '::placeholder': {
                color: '#536162'
            },
            ':-webkit-autofill': {
                color: '#e39f48'
            },
        },
        invalid: {
            color: '#E25950',
            iconColor: '#536162',
            '::placeholder': {
                color: '#FFCCA5',
            },
        }
    };

    var card = elements.create("card", { style: style });
    card.mount("#card-element");

    card.on('change', function (e) {
        var displayError = document.getElementById('card-error');
        if (e.error) {
            displayError.textContent = e.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    var form = document.getElementById('payment-form');

    form.addEventListener('submit', function (ev) {
        ev.preventDefault();        
        $('#processing').modal('show');
        $('#card-error').text('');

        // confirm stripe payment
        stripe.confirmCardPayment(form.dataset.secret, {
            payment_method: {
                card: card,
                billing_details: {
                    name: '@Model.FullName',
                    email: '@Model.Email'
                }
            }
        }).then(function (result) {
            if (result.error) {
                console.log(result.error.message);
                $('#processing').modal('hide');
                $('#card-error').text(result.error.message);
            } else {
                $('#card-error').text('');
                if (result.paymentIntent.status === 'succeeded') {
                    console.log(result.paymentIntent.status);
                    stripeCallback(venueId, contactId);
                }
            }
        });
    });

    /*function createOverlay() {
        //add overlay here
        var el = document.getElementById('payment-form');
        el.style.display = 'none';

        var loader = document.createElement('img');
        loader.src = Url.Content("~/Content/themes/planetshakers/img/loader.gif");
        var loaderStyle = {
            style: {
                display: 'block',
                marginLeft: 'auto',
                marginRight: 'auto'
            }
        };
        loader.style = loaderStyle;
        var ld = document.getElementById('loading');
        ld.style.display = 'block';
        ld.appendChild(loader);
    }*/

    function stripeCallback(venue_id, contact_id) {

        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            url: "/Payment/addRegistration",
            data: JSON.stringify({ "venue_id": venue_id, "contact_id": contact_id }),
            success: function (result) {
                console.log(result.message);
                window.location.href = result.link;
            },
            error: function () {
                alert("failed");
            }
        });
    };

</script>