﻿@model Planetshakers.Events.Mvc.Models.CartModel
@using Planetshakers.Business.External.Events;
@using Planetshakers.Events.Mvc.Controllers;
@{
    ViewBag.Title = "Order Summary";
    ViewBag.ButtonProceed = "Proceed to payment";
    ViewBag.CalculatedTotalLabel = "Calculated total";
    ViewBag.CalculatedTotalInputName = "total";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>

<div class="card mx-4 my-2">
    <div class="card-header py-3">
        <h3>@Model.Event.name</h3>
        <h5 class="subheader">@Model.Event.date</h5>
        <h5 class="subheader">@Model.Event.location</h5>
    </div>
    <div class="card-body">
        <h6>Order Summary</h6>
        @Html.ValidationSummary(true)
        @if (Model.ErrorMessage != null)
        {
            <div class="alert alert-danger">@Model.ErrorMessage</div>
        }
        <table class="table">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Registration Type</th>
                    <th data-hide="phone">Single Price</th>
                    <th data-hide="phone">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CartItem item in Model.Cart)
                {
                    <tr>
                        <td>@(item.quantity)</td>
                        <td>@(item.reg_name)</td>
                        <td>@(Model.Event.currency) @(item.single_price)</td>
                        <td>@(Model.Event.currency) @(item.subtotal)</td>
                    </tr>
                }
                @if (Model.Voucher != null)
                {
                    <tr>
                        <td>1</td>
                        <td>Voucher Code - @Model.Voucher.code</td>
                        <td>@(Model.Event.currency) @(Model.Voucher.value)</td>
                        <td>- @(Model.Event.currency) @(Model.Voucher.applied_value)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align:right">Grand Total : @(Model.Event.currency) @(Model.GrandTotal)</td>
                </tr>
            </tfoot>
        </table>
        <div>
            <strong>Please Note:</strong>
            <ul>
                <li>If you do not use the full amount of your voucher in one transaction, a new voucher code will be issued with the remaining balance.</li>
            </ul>
        </div>

        <div id="stripe-payment">

        </div>

    </div>
</div>


<script>
    window.onload = loadBalancePayment();

    function loadBalancePayment() {
        console.log("load stripe");

        var data = new Object();

        data = JSON.stringify(data);

        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            url: "/Payment/loadBalancePayment",
            data: data,
            success: function (result) {
                console.log('stripe success');
                $('#stripe-payment').html(result);
            },
            error: function () {
                console.log("failed");
            }
        });
    }
</script>