﻿@model Planetshakers.Events.Mvc.Models.SponsorshipCartModel
@using Planetshakers.Business.External.Events;
@using Planetshakers.Events.Mvc.Controllers;
@{
    ViewBag.Title = "Sponsorship Summary";
    ViewBag.ButtonProceed = "Proceed to payment";
    ViewBag.CalculatedTotalLabel = "Calculated total";
    ViewBag.CalculatedTotalInputName = "total";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/bundles/planetshakers/events/register")
}

<link rel="stylesheet" type="text/css" href="@Url.Content("/Content/themes/planetshakers/css/stripe.css")" />

<div class="row">
    <div class="col-lg-12">
        <div class="event-reg-container">
            <div class="row event-banner-container">
                <div class="col-lg-12">
                    <img class="event-banner" src="@(Url.Content(Model.Event.banner_img))" alt="">
                </div>
            </div>
            <div class="row mx-0 px-2">
                <div class="col-12">
                    <div class="event-summary border-bottom">
                        <h3>@Model.Event.name</h3>
                        <h5 class="subheader">@Model.Event.date</h5>
                        <h5 class="subheader">@Model.Event.location</h5>
                    </div>
                    <h6>Sponsorship Summary</h6>
                    @Html.ValidationSummary(true)
                    @if (Model.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">@Model.ErrorMessage</div>
                    }
                    <table class="footable table-bordered">
                        <thead class="table-active">
                            <tr>
                                <th data-hide="phone">Sponsorship Amount</th>
                                <td colspan="4" style="text-align:right">Grand Total: @(Model.Event.currency) @Model.Cart.totalSponsoredAmount</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br />
                    @if (ViewBag.StripePublishKey == "pk_live_3WM2tB4xIu8rEZCNZcSpL8Dn")
                    {
                        <p>
                            <strong>Note: Mastercard or Visa cards only. American Express cards are not accepted.</strong>
                        </p>
                    }

                    <div class="pb-2">
                        Session will end in <span id="countdown"></span>
                    </div>
                    <form id="payment-form" data-secret="@ViewData["Client-Secret"]">
                        <div id="card-element">
                            <!--Stripe.js injects the Card Element-->
                        </div>
                        <button id="submit">
                            <div class="spinner hidden" id="spinner"></div>
                            <span id="button-text">Pay now</span>
                        </button>
                        <p id="card-error" role="alert"></p>
                        <p class="result-message hidden">
                            Payment succeeded, see the result in your
                            <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var stripe = Stripe('@Model.CCPayment.BankAccount.PublishableKey');
    var venueId = '@Model.Event.venueID';
    var contactId = '@Model.ContactId';

    // define card payment style
    var elements = stripe.elements();
    var elementStyles = {
        base: {
            color: '#32325D',
            fontWeight: 600,
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSize: '16px',
            fontSmoothing: 'antialiased',

            '::placeholder': {
                color: '#536162'
            },
            ':-webkit-autofill': {
                color: '#e39f48'
            },
        },
        invalid: {
            color: '#E25950',
            iconColor: '#536162',
            '::placeholder': {
                color: '#FFCCA5',
            },
        },
    };

    var elementClasses = {
        focus: 'focused',
        empty: 'empty',
        invalid: 'invalid',
    };


    var card = elements.create("card", { style: elementStyles, classes: elementClasses });
    card.mount("#card-element");

    card.on('change', function (e) {
        var displayError = document.getElementById('card-error');
        if (e.error) {
            displayError.textContent = e.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    var form = document.getElementById('payment-form');

    form.addEventListener('submit', function (ev) {
        ev.preventDefault();
        // add loading and overlay here

        // confirm stripe payment
        stripe.confirmCardPayment(form.dataset.secret, {
            payment_method: {
                card: card,
                billing_details: {
                    name: '@Model.FullName',
                    email: '@Model.Email'
                }
            }
        }).then(function (result) {
            if (result.error) {
                console.log(result.error.message);
            } else {
                if (result.paymentIntent.status === 'succeeded') {
                    console.log(result.paymentIntent.status);
                    stripeCallback(venueId, contactId);
                }
            }
        });

    });

    function stripeCallback(venue_id, contact_id) {

        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            url: "/Payment/addSponsorship",
            data: JSON.stringify({ "venue_id": venue_id, "contact_id": contact_id }),
            success: function (result) {
                console.log(result.message);
                window.location.href = result.link;
            },
            error: function () {
                alert("failed");
            }
        });
    };


    var timespan = 60000 * 10; // 10 minutes
    var expire = new Date().getTime() + timespan;

    var countdown = setInterval(function () {
        var now = new Date().getTime();
        var distance = expire - now;
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        if (seconds < 10) {
            seconds = "0" + seconds;
        }

        document.getElementById("countdown").innerHTML = minutes + ":" + seconds;

        if (distance < 0) {
            clearInterval(countdown);
            document.getElementById("countdown").innerHTML = "0:00";
            window.location.href = "/";
        }
    }, 1000);

</script>