﻿@model Planetshakers.Events.Mvc.Models.CartModel
@using Planetshakers.Business.External.Events;
@using Planetshakers.Events.Mvc.Controllers;
@{
    ViewBag.Title = "Order Summary";
    ViewBag.ButtonProceed = "Proceed to payment";
    ViewBag.CalculatedTotalLabel = "Calculated total";
    ViewBag.CalculatedTotalInputName = "total";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/planetshakers/events/payment")
}

<div class="card mx-4 my-2">
    <div class="card-header py-3">
        <h3>@Model.Event.name</h3>
        <h5 class="subheader">@Model.Event.date</h5>
        <h5 class="subheader">@Model.Event.location</h5>
    </div>
    @if (Model.previousCart.Count != 0)
    {
        <div class="card-body">
            <h6>Previous Payments</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Registration Type</th>
                        <th data-hide="phone">Single Price</th>
                        <th data-hide="phone">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CartItem item in Model.previousCart)
                    {
                        <tr>
                            <td>@(item.quantity)</td>
                            <td>@(item.reg_name)</td>
                            <td>@(Model.Event.currency) @(item.single_price)</td>
                            <td>@(Model.Event.currency) @(item.subtotal)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div class="card-body">
        <h6>Order Summary</h6>
        @Html.ValidationSummary(true)
        @if (Model.ErrorMessage != null)
        {
            <div class="alert alert-danger">@Model.ErrorMessage</div>
        }
        <table class="table">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Registration Type</th>
                    <th data-hide="phone">Single Price</th>
                    <th data-hide="phone">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CartItem item in Model.Cart)
                {
                    <tr>
                        <td>@(item.quantity)</td>
                        <td>@(item.reg_name)</td>
                        <td>@(Model.Event.currency) @(item.single_price)</td>
                        <td>@(Model.Event.currency) @(item.subtotal)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align:right">Grand Total : @(Model.Event.currency) @(Model.GrandTotal)</td>
                </tr>
            </tfoot>
        </table>

        <div class="pb-2">
            Session will end in <span id="countdown"></span>
        </div>
        <div id="stripe-payment">

        </div>

    </div>
</div>


<script>
    var timespan = 60000 * 10; // 10 minutes
    var expire = new Date().getTime() + timespan;

    var countdown = setInterval(function () {
        var now = new Date().getTime();
        var distance = expire - now;
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        if (seconds < 10) {
            seconds = "0" + seconds;
        }

        document.getElementById("countdown").innerHTML = minutes + ":" + seconds;

        if (distance < 0) {
            clearInterval(countdown);
            document.getElementById("countdown").innerHTML = "0:00";
            window.location.href = "/";
        }
    }, 1000);
</script>

