﻿
/* ==== EVENT INDEX PAGE ==============================
     ==================================================*/
.event-row {
    padding: 10px 0;
    margin-bottom: 10px !important;
    //border: solid 1px #ccc;
    //border-radius: 5px;
    
    box-shadow: 0 0 3px 3px #c6c6c6;
}

.event-info-height-fix {
    position: relative;
    display: block;
    height: 210px;
}

.event-info {
    padding: 5px 0;
    font-size: 14px;
    line-height: 16px;
}

.event-info > .button,
.event-info2 > .button{
    position: absolute;
    width: 100%;
    bottom: 5px;
    margin-bottom: 0;
}

.event-banner {
    width: 100%;
}

.event-reg-container {
    box-shadow: 0 0 10px 5px #c6c6c6;
    margin-bottom: 100px;
}

@media only screen and (min-width: 767px) {
    .event-submit-button {
        margin-top: -30px;
        margin-bottom: -15px;
    }
}

/* ==== EVENT REGISTRATION PAGE ==============================
     ==================================================*/

.new-rego-header > h4,
.current-rego-header > h4 {
    display: inline-block;
    margin-right: 4px;
}
.new-rego-header > a,
.current-rego-header > a {
    display: inline-block;
    background: #f1f1f1;
    font-family: sans-serif;
    padding: 3px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    font-size: 12px;
    border: 0 none;
}

.current-rego {
    display: none;
}

.rego-groups {
    display: none;
}