﻿.border-bottom {
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;
}

.form-label {
    text-align: right;
}

.forgot-password {
    display: block;

    font-size: 14px;
    padding-bottom: 10px;
}

.inline-form-error {
    display: block;
    margin: 0 0 1em 0;
    padding: 0.625em 0;

    font-size: .875em;
    color: red;
}

@media only screen and (max-width: 767px) {
    .button {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .form-label {
        text-align: left;
        padding-bottom: 0;
    }
}

/* ==== EVENT REGO FORM ==============================
     ==================================================*/

