﻿/* ==== NAVIGATION BAR ==============================
     ==================================================*/
.top-bar,
.top-bar .expanded,
.contain-to-grid {
    /* Styling white bg */
    background-color: #fafafa !important;
}

.top-bar .nav-container {
    display: block;
    margin: auto;

    width: 100%;
    height: 100%;
    max-width: 1000px;
}

/* Custom styling for the planetshakers logo on nav bar*/
.top-bar .brand {
    display: block;
    float: left;
    padding: 7px 20px 10px 20px;
}

/* Small menu bar */
.top-bar .toggle-topbar.menu-icon a {
    color: #888888;
}

/* Custom styles for the nav dropdown*/
.top-bar-section .has-dropdown > a:after {
    border-color: transparent transparent transparent rgba(51, 51, 51, 0.5);
}
@media only screen and (min-width: 40.0625em) {
    .top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button),
    .top-bar-section li:not(.has-form) a:not(.button) {
        background-color: #fafafa;
        background:#fafafa;
        border-top: none;
        color: #777777;
    }

    
    .top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button):hover,
    .top-bar-section li:not(.has-form) a:not(.button):hover {        
        color: #333333;
        background-color: #F0F0F0;
    }

    .top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button),
    .top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button):hover {
        line-height: 1;
        font-weight: normal;
        padding: 7px 15px;
        white-space: nowrap;
    }

    .top-bar-section .has-dropdown > a:after {
        border-color: rgba(51, 51, 51, 0.5) transparent transparent transparent;
    }
}

.top-bar-section ul,
.top-bar-section ul li,
.top-bar-section ul li > a,
.top-bar-section li a:not(.button),
.top-bar.expanded .title-area,
.top-bar-section .dropdown li.title h5 a {
    color: #777777; /* changed color from white to... #777777*/
    background: transparent; /* removed background color*/ 
    font-weight: bold;
}

.top-bar-section ul li:hover:not(.has-form)>a {
    /* custom colors, overrides foundation styles*/ 
    color: #333333;
    background-color: #F0F0F0;
}

.nav-signup {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background-color: #2284a1;
}

.divider {
    border-color:#F0F0F0;
}

/* Dividers */
.top-bar-section .divider, .top-bar-section [role="separator"] {
    border-bottom: solid 1px #E0E0E0;
    border-top: none;
    clear: both;
    height: 1px;
    width: 100%;
}
@media only screen and (min-width: 58.75em) {
    .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
        border-bottom: none;
        border-top: none;
        border-right: solid 1px #E0E0E0;
        border-left: none;
        clear: none;
        height: 45px;
        width: 0px;
    }
}