﻿
@import url("https://fonts.google.com/specimen/Open+Sans");
/* ==== GENERAL STUFF ==============================
     ==================================================*/

.sign-up {
    font-weight: 600 !important;
    color: darkgray !important;
}

.sign-up:hover {
    text-decoration: none !important;
    color: black !important;
}
body {
    font-family: "Open Sans", "Segoe UI", sans-serif;
}

.inline-block {
    display: inline-block;
}

.border-bottom {
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;
}

.border-top {
    border-top: 1px solid #CCC;
}

.form-label {
    text-align: right;
}

.forgot-password {
    display: block;
    font-size: 14px;
    padding-bottom: 10px;
}

.field-validation-error {
    display: block;
    margin: 0 0 1em 0;
    padding: 0.625em 0;
    font-size: .875em;
    color: red;
}

img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}


/*
button, .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #ED1941;
    border-color: #ED1941;
    color: #FFFFFF;
}

    button:hover, button:focus, .button:hover, .button:focus {
        background-color: #ED1941;
    }

    button:hover, button:focus, .button:hover, .button:focus {
        color: #FFFFFF;
    }

    button.secondary, .button.secondary {
        background-color: #e7e7e7;
        border-color: #b9b9b9;
        color: #333333;
    }

        button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus, .button.secondary.active {
            background-color: #b9b9b9;
        }

        button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus, .button.secondary.active {
            color: #333333;
        }

    button.success, .button.success {
        background-color: #43AC6A;
        border-color: #368a55;
        color: #FFFFFF;
    }

        button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
            background-color: #368a55;
        }

        button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
            color: #FFFFFF;
        }

    button.alert, .button.alert {
        background-color: #f04124;
        border-color: #cf2a0e;
        color: #FFFFFF;
    }

        button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
            background-color: #cf2a0e;
        }

        button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
            color: #FFFFFF;
        }

    button.warning, .button.warning {
        background-color: #f08a24;
        border-color: #cf6e0e;
        color: #FFFFFF;
    }

        button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
            background-color: #cf6e0e;
        }

        button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
            color: #FFFFFF;
        }

    button.info, .button.info {
        background-color: #a0d3e8;
        border-color: #61b6d9;
        color: #333333;
    }

        button.info:hover, button.info:focus, .button.info:hover, .button.info:focus {
            background-color: #61b6d9;
        }

        button.info:hover, button.info:focus, .button.info:hover, .button.info:focus {
            color: #FFFFFF;
        }

    button.large, .button.large {
        padding: 1.125rem 2.25rem 1.1875rem 2.25rem;
        font-size: 1.25rem;
    }

    button.small, .button.small {
        padding: 0.875rem 1.75rem 0.9375rem 1.75rem;
        font-size: 0.8125rem;
    }

    button.tiny, .button.tiny {
        padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
        font-size: 0.6875rem;
    }

    button.expand, .button.expand {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    button.left-align, .button.left-align {
        text-align: left;
        text-indent: 0.75rem;
    }

    button.right-align, .button.right-align {
        text-align: right;
        padding-right: 0.75rem;
    }

    button.radius, .button.radius {
        border-radius: 3px;
    }

    button.round, .button.round {
        border-radius: 1000px;
    }

    button.disabled, button[disabled], .button.disabled, .button[disabled] {
        background-color: #ED1941;
        border-color: #ED1941;
        color: #FFFFFF;
        box-shadow: none;
        cursor: default;
        opacity: 0.7;
    }

        button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
            background-color: #ED1941;
        }

        button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
            color: #FFFFFF;
        }

        button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
            background-color: #ED1941;
        }

        button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
            background-color: #e7e7e7;
            border-color: #b9b9b9;
            color: #333333;
            box-shadow: none;
            cursor: default;
            opacity: 0.7;
        }

            button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
                background-color: #b9b9b9;
            }

            button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
                color: #333333;
            }

            button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
                background-color: #e7e7e7;
            }

        button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
            background-color: #43AC6A;
            border-color: #368a55;
            color: #FFFFFF;
            box-shadow: none;
            cursor: default;
            opacity: 0.7;
        }

            button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
                background-color: #368a55;
            }

            button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
                color: #FFFFFF;
            }

            button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
                background-color: #43AC6A;
            }

        button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
            background-color: #f04124;
            border-color: #cf2a0e;
            color: #FFFFFF;
            box-shadow: none;
            cursor: default;
            opacity: 0.7;
        }

            button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
                background-color: #cf2a0e;
            }

            button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
                color: #FFFFFF;
            }

            button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
                background-color: #f04124;
            }

        button.disabled.warning, button[disabled].warning, .button.disabled.warning, .button[disabled].warning {
            background-color: #f08a24;
            border-color: #cf6e0e;
            color: #FFFFFF;
            box-shadow: none;
            cursor: default;
            opacity: 0.7;
        }

            button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
                background-color: #cf6e0e;
            }

            button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
                color: #FFFFFF;
            }

            button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
                background-color: #f08a24;
            }

        button.disabled.info, button[disabled].info, .button.disabled.info, .button[disabled].info {
            background-color: #a0d3e8;
            border-color: #61b6d9;
            color: #333333;
            box-shadow: none;
            cursor: default;
            opacity: 0.7;
        }

            button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
                background-color: #61b6d9;
            }

            button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
                color: #FFFFFF;
            }

            button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
                background-color: #a0d3e8;
            }
    */

.creditcardimages {
    height: 40px;
    width: auto;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.left {
    float: left !important;
}

.right {
   float: right !important;
}

.border-circle{
    border-radius: 50%;
}

.border-white{
    border-color: #ffffff;
}

.btn-grey {
    background-color: #4A4A4A;
    color: #ffffff;
    text-decoration: none;
}

.btn-grey:hover {
    background-color: #fff;
    color: #4A4A4A;
    border-color: #4A4A4A;
    font-weight: bolder;
}

.bg-gradient-black {
    background-color: #000000;
    /*background-image: linear-gradient(180deg, #272727 10%, #000000 100%);*/
    background-size: cover;
}

.btn-black {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

.btn-black:hover{
    background-color: #fff;
    color:#000;
    border-color: #000;
    font-weight: bolder;
}

.stripe-checkout-btn {
    background-color: #556CD6;
    font-weight: bold;
    color: #FFF;
    border: none;
    border-radius: 5px;
}

.stripe-checkout-btn:hover {
    background-color: #4C68E7;
}

/*General mobile view change goes here*/
@media only screen and (max-width: 64.0625em) {
    table {
        font-size: .875rem;
    }

}

/* ==== ACCOUNT REGISTRATION PAGE ==============================
     ==================================================*/
.account-registration-header h3 {
    display: inline-block;
    padding-right: 15px;
}

.account-registration-header a {
    display: inline-block;
    background: #f1f1f1;
    font-family: sans-serif;
    padding: 5px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    font-size: 14px;
    border: 0 none;
}

/* ==== ACCOUNT UPDATE PAGE ==============================
     ==================================================*/
.tabs-acc .tab-title > a {
    border: #e1e1e1 solid 1px;
    padding: 0.5em 1em;
}

/* ==== EVENT INDEX PAGE ==============================
     ==================================================*/
.event-row {
    margin-bottom: 30px !important;
    border: solid 1px #c6c6c6;
}

.event-info {
    height: 100%;
    color: black;
    padding: 5px 5px 7px 5px;
}

.row-relative {
    position: relative;

}

.event-info-button-container {
    position: relative;
    padding: 0 5px 0 5px;
    height: 100%;
}

.barcode {
    width: 100%;
    margin: 0 0 1.5rem;
    padding: 0;
}

.event-title {
    height: auto;
    font-size: 1.5em;
}


@media only screen and (min-width: 64.0625em) {
    .event-info-button-container .button {
        margin-bottom: 5px;
    }

    .stick-to-bottom {
        position: absolute !important;
        bottom: 0px;
    }
}

.event-index-banner {
    width: 100%;
    padding: 5px 5px 10px 5px;
}

.event-banner {
    width: 100%;
}

.event-reg-container {
    box-shadow: 0 0 10px 5px #c6c6c6;
    padding-bottom: 25px;
    margin-bottom: 100px;
}

@media only screen and (min-width: 767px) {
    .event-submit-button {
        margin-top: -30px;
        margin-bottom: -15px;
    }
}

a.event-alert-box-link {
    color: inherit;
    text-decoration: none;
}

.event-alert-positive {
    border-right: solid 0.5em green !important;
    border-left: solid 0.5em green !important;
    border-color: green;
}

.event-alert-negative {
    border-right: solid 0.5em red !important;
    border-left: solid 0.5em red !important;
}
/* ==== EVENT REGISTRATION PAGE ==============================
     ==================================================*/
@media only screen and (max-width: 64.0625em) {
    .reg-category-btn.btn, #Sponsorship_SubmitButton {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .form-label {
        text-align: left;
        padding-bottom: 0;
    }
}

.event-banner-container {
    margin-bottom: 20px !important;
}

.new-rego-header > h4,
.current-rego-header > h4 {
    display: inline-block;
    margin-right: 4px;
    padding-bottom: 10px;
}

.custom-link,
.new-rego-header > a,
.current-rego-header > a {
    display: inline-block;
    background: #f1f1f1;
    font-family: sans-serif;
    padding: 3px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    font-size: 12px;
    border: 0 none;
}

.rego-groups {
    display: none;
}

.reg-category-btn,
.reg-category-btn:hover {
    background-color: #000000;
    color: #fff;
}

.btn.secondary:hover, .btn.secondary:focus, .btn.secondary:hover, .btn.secondary:focus {
    border-color: #d0d0d0;
    background-color: #2b2b2b !important;
    color: #fff !important;
}

btn.secondary, .btn.secondary {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media only screen and (max-device-width: 1000px) {
    .table-btn {
        width: 50%;
    }
}

/* === TERMS AND CONDITIONS PAGE ======================================
    =======================================================*/
.terms-conditions-container div {
    margin-bottom: 10px;
    line-height: 16px;
}

.registrations-header > h3 {
    display: inline-block;
    margin-right: 4px;
}

.registrations-header > a {
    display: inline-block;
    background: #f1f1f1;
    font-family: sans-serif;
    padding: 3px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    font-size: 12px;
    border: 0 none;
    text-align: right;
}

/*** Pop Up ***/
.popup-wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 8px #aaa;
    overflow: hidden;
}

.popup-title {
    padding: 10px 15px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #f0f0f0;
}

    .popup-title h3 {
        margin: 0;
        line-height: 1.5em;
        color: #333;
    }

.popup-body {
    padding: 10px 15px;
    color: #555;
}

.popup-close {
    float: right;
    margin-top: 2px;
    padding: 0;
    font-size: 24px;
    line-height: 1;
    border: 0;
    background: transparent;
    color: #aaa;
    cursor: pointer;
}

    .popup-close:hover {
        color: #333;
    }

/*THIS section WAS COPIED FROM MOBILE in use of bootstrap changes*/
/* ==== NAVIGATION BAR ==============================
     ==================================================*/
.top-bar, .top-bar .expanded, .contain-to-grid {
    /* Styling white bg */
    background-color: #F7F7F9 !important;
}

.back {
    width: 45px;
    height: 45px;
    text-transform: uppercase;
    float: left;
}

.top-bar .nav-container {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

/* Custom styling for the planetshakers logo on nav bar*/
.top-bar .brand {
    display: block;
    float: none;
    padding: 7px 20px 10px 20px;
    align-content: center;
}

.logo {
    margin-left: 10%;
}

/* Small menu bar */
.top-bar .toggle-topbar.menu-icon a {
    color: #888888;
}

/* Custom styles for the nav dropdown*/
.top-bar-section .has-dropdown > a:after {
    border-color: transparent transparent transparent rgba(51, 51, 51, 0.5);
}

@media only screen and (min-width: 58.75em) {
    .top-bar-section .dropdown {
        background-color: #fafafa;
        border-top: none;
    }

    .top-bar-section .has-dropdown > a:after {
        border-color: rgba(51, 51, 51, 0.5) transparent transparent transparent;
    }
}

.top-bar-section ul, .top-bar-section ul li, .top-bar-section ul li > a, .top-bar-section li a:not(.button), .top-bar.expanded .title-area, .top-bar-section .dropdown li.title h5 a {
    color: #777777; /* changed color from white to... #777777*/
    background: transparent; /* removed background color*/
}

    .top-bar-section li a:not(.button):hover {
        /* custom colors, overrides foundation styles*/
        color: #333333;
        background-color: #F0F0F0;
    }

.nav-signup {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background-color: #2284a1;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: solid 2px black;
    background-color: wheat;
    text-align: center;
}

.divider {
    border-color: #F0F0F0;
}

/* Dividers */
.top-bar-section .divider, .top-bar-section [role="separator"] {
    border-bottom: solid 1px #E0E0E0;
    border-top: none;
    clear: both;
    height: 1px;
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .img-banner {
        padding: 2em;
    }
}

@media only screen and (min-width: 58.75em) {
    .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
        border-bottom: none;
        border-top: none;
        border-right: solid 1px #E0E0E0;
        border-left: none;
        clear: none;
        height: 45px;
        width: 0px;
    }
}

@media only screen and (max-width: 400px) {
    a .collapse-item {
        white-space: normal;
    }
}

/* ====  ADDTIONAL STYLING FOR BOOTSTRAP ==== */
.bg-highlight {
    background-color: #fdffa3;
}

.text-black-75 {
    color: #6e6e6e !important;
}

.text-black-100 {
    color: #000000 !important;
}

.text-white {
    color: #FFFFFF !important;
}


/* ==== GENERAL STUFF ==============================
     ==================================================*/

.text-break {
    word-wrap: break-word;
}

.normal-whitespace {
    white-space: normal !important;
}

.text-align-justify {
    text-align: justify;
}

.overflow {
    max-width: 166px;
    overflow: auto;
    white-space: nowrap;
}

.inline-block {
    display: inline-block;
}

.border-bottom {
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;
}

.form-label {
    text-align: right;
}

.forgot-password {
    display: block;
    font-size: 14px;
    padding-bottom: 10px;
}

.field-validation-error {
    display: block;
    margin: 0 0 1em 0;
    padding: 0.625em 0;
    font-size: .875em;
    color: red;
}

table.expand {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .button {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .form-label {
        text-align: left;
        padding-bottom: 0;
    }

    .sign-up {
        font-size: 13px;
    }
}

/* ==== ACCOUNT REGISTRATION PAGE =====================
   ==================================================== */
.account-registration-header h3 {
    display: inline-block;
    padding-right: 15px;
}

.account-registration-header a {
    display: inline-block;
    background: #f1f1f1;
    font-family: sans-serif;
    padding: 5px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    font-size: 14px;
    border: 0 none;
}

/* ==== FORMS =========================================
   ==================================================== */
form.custom .question-row {
    margin: 15px 0px;
}

form.custom textarea {
    resize: vertical;
}

form.custom .question-label {
    font-weight: bold;
}

form.custom .radio-btn {
    margin-top: 10px;
}

    form.custom .radio-btn > span {
        padding-left: 2px;
    }

form.custom p {
    text-align: justify;
}

#profile-pic {
    border: 1px #DDDDDD solid;
    padding: 5px;
    width: 100%;
}

/*Update Information page*/
.update-background {
    background-color: #fff;
    border: solid 1px #dddfeb;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

#display_image {
    width: 300px;
    height: 169px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}