﻿@model Planetshakers.Events.Mvc.Models.ApplicationFormModel
@using Planetshakers.Events.Mvc.Models
@{
    ViewBag.Title = "Application Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Application Form</h1>
    </div>

    <div class="row">
        <div class="col-12 text-black-100">
            @*<p>Dear Planetshaker,</p>

                <p class="text-align-justify">
                    Thank you for expressing interest in serving at Planetshakers Church. To maintain our commitment to
                    excellence, this application is necessary for preserving a safe environment within the church and compliance with the
                    National Child Protection Policy, OH&S requirements and Safer Churches Policies as per the Australian Christian Churches.
                </p>
                <p class="text-align-justify">We thank you for joining us in our commitment to protect our church and look forward to serving and enlarging His kingdom together. </p>
                <p class="text-align-justify">As a guide, applications take approximately 2-3 weeks to process and you will have other instructions sent to you after this submission.</p>
                <p class="text-align-justify">Your department leader / representative will be in contact with you in relation to your application from here. For any further queries, please contact us at the Planetshakers Offices on <a href="tel:1300 88 33 21">1300 88 33 21</a>.</p>*@
            <p>Please fill in answers for all the questions.</p>
        </div>
        <div class="col-12">
            @if (Model.ErrorMessage != null)
            {
                <div id="error_notification" class="alert alert-danger">@Model.ErrorMessage</div>
            }

            @if (Model.SuccessMessage != null)
            {
                <div id="success_notification" class="alert alert-success">@Model.SuccessMessage</div>
            }
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @using (Html.BeginForm("SubmitApplication", "Application", FormMethod.Post, new { enctype = "multipart/form-data", @id = "volunteerForm", @name = "volunteerForm" }))
            {
                <div class="card shadow mb-4">
                    <div class="card-header py-2">
                        <h6 class="m-0 font-weight-bold text-dark">Personal Details</h6>
                    </div>
                    <div class="card-body text-black-100">
                        
                        <div class="row">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-9">                                
                                <p style="color: gray; font-style: italic ">Please ensure your First / Last Name matches your Passport First / Last Name</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>First Name</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.ContactQuestion.FirstName, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Last Name</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.ContactQuestion.LastName, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Gender</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(m => m.ContactQuestion.Gender, Model.GenderList, "-- Select Gender --", new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Date of Birth</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.ContactQuestion.DOB, "{0:yyyy-MM-dd}", new { @class = "dob-field form-control", placeholder = "yyyy-MM-dd", type = "date" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Email</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.ContactQuestion.Email, new { @class = "form-control", required = "required", disabled = "disabled" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Phone</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.ContactQuestion.Phone, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Address 1</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.ContactQuestion.Address1, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Address 2</label>
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.ContactQuestion.Address2, new { @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Suburb</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.ContactQuestion.Suburb, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label>State</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(m => m.ContactQuestion.State_ID, Model.StateList, "-- Select State --", new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Postcode</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.ContactQuestion.Postcode, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Country</label>
                                <span style="color: red;">*</span>
                            </div>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(m => m.ContactQuestion.Country_ID, Model.CountryList, "-- Select Country --", new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <br />


                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-2">
                        <h6 class="m-0 font-weight-bold text-dark">Questions</h6>
                    </div>
                    <div class="card-body text-black-100">

                        @Html.Hidden("RegistrationType_ID", Model.RegistrationType_ID)
                        @Html.Hidden("Contact_ID", Model.Contact_ID)
                        @Html.Hidden("Venue_ID", Model.Venue_ID)
                        @Html.Hidden("Application_ID", Model.Application_ID)
                        @foreach (Question q in Model.Questions)
                        {
                            if (q.type == "Short Answer")
                            {
                                <label class="question-label text-black-100">
                                    <strong>@q.question</strong>
                                    <span style="color:Red"> * </span>
                                </label>
                                <input id="@(q.question_ID)" type="text" value="@(q.answer)" maxlength="100" name="@(q.question_ID)" class="form-control mb-2" required />
                                <br />
                            }
                            else if (q.type == "Paragraph")
                            {
                                <label class="question-label text-black-100">
                                    <strong>@q.question</strong>
                                    <span style="color:Red"> * </span>
                                </label>
                                <textarea id="@(q.question_ID)" class="form-control mb-2" name="@(q.question_ID)" @Html.Raw(q.question_ID == 12 ? "minlength=50" : "") required>@(q.answer)</textarea>
                                <br />
                            }
                            else if (q.type == "Checkbox")
                            {
                                if (q.answer == null)
                                {
                                    <label class="question-label text-black-100">
                                        <strong>@q.question</strong>
                                        <span style="color:Red">* </span>
                                    </label><br />
                                    <label class="radio-btn" for="@(q.question_ID)_Y">
                                        <input type="radio" name="@(q.question_ID)"
                                               id="@(q.question_ID)_Y" value="Yes" required />
                                        <span class="custom radio"></span> Yes
                                    </label><br />
                                    <label class="radio-btn" for="@(q.question_ID)_N">
                                        <input type="radio" name="@(q.question_ID)"
                                               id="@(q.question_ID)_N" value="No" />
                                        <span class="custom radio"></span> No
                                    </label>
                                    <label for="@(q.question_ID)" class="text-danger"></label>
                                }
                                else
                                {
                                    if (q.answer.Equals("Yes"))
                                    {
                                        <label class="question-label text-black-100">
                                            @q.question
                                            <span style="color:Red">* </span>
                                        </label><br />
                                        <label class="radio-btn" for="@(q.question_ID)_Y">
                                            <input type="radio" name="@(q.question_ID)"
                                                   id="@(q.question_ID)_Y" checked="checked" value="Yes" required />
                                            <span class="custom radio"></span> Yes
                                        </label><br />
                                        <label class="radio-btn" for="@(q.question_ID)_N">
                                            <input type="radio" name="@(q.question_ID)"
                                                   id="@(q.question_ID)_N" value="No" TabStop="true" />
                                            <span class="custom radio"></span> No
                                        </label>
                                        <label for="@(q.question_ID)" class="text-danger"></label>
                                    }
                                    else if (q.answer.Equals("No"))
                                    {
                                        <label class="question-label text-black-100">
                                            @q.question
                                            <span style="color:Red">* </span>
                                        </label><br />
                                        <label class="radio-btn" for="@(q.question_ID)_Y">
                                            <input type="radio" name="@(q.question_ID)"
                                                   id="@(q.question_ID)_Y" value="Yes" required />
                                            <span class="custom radio"></span> Yes
                                        </label><br />
                                        <label class="radio-btn" for="@(q.question_ID)_N">
                                            <input type="radio" name="@(q.question_ID)"
                                                   id="@(q.question_ID)_N" checked="checked" value="No" />
                                            <span class="custom radio"></span> No
                                        </label>
                                        <label for="@(q.question_ID)" class="text-danger"></label>
                                    }
                                }

                                <br />
                                <br />
                            }
                            else if (q.type == "Multiple-Choice")
                            {
                                if (q.question_ID == 6)
                                //dropdown of tshirt sizes
                                {
                                    <label class="question-label text-black-100">
                                        <strong>@q.question</strong>
                                        <span style="color:Red"> * </span>
                                    </label>
                                    <select class="form-control required" id="@(q.question_ID)" required name="shirtSize">
                                        <option value="NA">-- Select Size --</option>
                                        <option value="Small">Small</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Large">Large</option>
                                        <option value="X Large">X Large</option>
                                        <option value="XX Large">XX Large</option>
                                    </select>
                                    <br />
                                }
                                else if (q.question_ID == 7)
                                //dropdown of campus id
                                {
                                    <label class="question-label text-black-100">
                                        <strong>@q.question</strong>
                                        <span style="color:Red"> * </span>
                                    </label>
                                    @Html.DropDownList("txtCampus", Model.CampusList, "-- Select Campus --", new { @class = "form-control mb-2", id = q.question_ID })<br />
                                }
                            }
                        }
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-2">
                        <h6 class="m-0 font-weight-bold text-dark">Referrals</h6>
                    </div>
                    <div class="card-body text-black-100">
                        <p>
                            Please list two people who you have known for at least one year, who would be able to attest to
                            your character and to your ability to work with children. Please note that one of these
                            references must be a pastor of Planetshakers Church.
                        </p>

                        @foreach (var item in Model.Referrals)
                        {
                            var index = Model.Referrals.IndexOf(item) + 1;
                            @Html.HiddenFor(m => m.Referrals[index - 1].ApplicationReferral_ID)
                            <strong>Referral @index</strong>
                            <div style="margin: 10px">

                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Full Name</label>
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Referrals[index - 1].FullName, new { @class = "form-control", required = "required", @maxlength = "100" })
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Referral Type - Pastor, Friend, Family, Others <span style="color: red;">*</span></label>
                                        
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Referrals[index - 1].ReferralType, new { @class = "form-control", required = "required", @maxlength = "50" })
                                    </div>
                                </div>
                                <br />

                                @*<div class="row">
                                    <div class="col-lg-3">
                                        <label>Relationship</label>
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Referrals[index - 1].Relationship, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <br />*@

                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Mobile Number</label>
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Referrals[index - 1].Phone, new { @class = "form-control", required = "required", @maxlength = "50" })
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Email</label>
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.Referrals[index - 1].Email, new { @class = "form-control", required = "required", @maxlength="50" })
                                    </div>
                                </div>
                                <br />
                            </div>
                        }
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-2">
                        <h6 class="m-0 font-weight-bold text-dark">Emergency Contacts</h6>
                    </div>
                    <div class="card-body text-black-100">
                        @foreach (var item in Model.EmergencyContacts)
                        {
                            var index = Model.EmergencyContacts.IndexOf(item) + 1;
                            @Html.HiddenFor(m => m.EmergencyContacts[index - 1].EmergencyContact_ID)
                            <strong>Emergency Contact @index </strong>
                            <div style="margin: 10px">

                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Full Name</label>
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.EmergencyContacts[index - 1].FullName, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Mobile Number</label>
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.EmergencyContacts[index - 1].Mobile, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>Relationship</label>
                                        <span style="color: red;">*</span>
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(m => m.EmergencyContacts[index - 1].Relationship, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <br />
                            </div>
                        }
                    </div>
                </div>
                <input id="Save" class="btn btn-secondary btn-block" type="submit" name="Save" formnovalidate="formnovalidate" value="Save As Draft" />
                <input id="SubmitNow" class="btn btn-primary btn-block" type="submit" name="Submit" value="Submit" />
            }
        </div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.7.1.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //select campus and shirt size if answer exist 
        var Application_ID = $("#Application_ID").val()
        $.ajax({
            type: "POST",
            url: "/Application/getApplicantDetails",
            data: JSON.stringify({ "Application_ID": Application_ID }),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                if (result.size != "") {
                    $('#6 option[value="' + result.size + '"]').attr("selected", "selected");
                }
                if (result.campus != "") {
                    $('#7 option[value="' + result.campus + '"]').attr("selected", "selected");
                }
            },
            error: function (result) {
                alert("Unable to retrieve data.")
            }
        });
        //default first referral to pastoral, disable input change
        
        $("#Referrals_0__ReferralType").attr("disabled", "disabled")
        $("#Referrals_0__ReferralType").val("Pastor")

        //if date is minimum value, remove value
        if ($("#ContactQuestion_DOB").val() == "0001-01-01") {
            $("#ContactQuestion_DOB").val("")
        }
    })

    //function saveAsDraftBtn() {
    //    $("#saveAsDraft").val(true)
    //    $("#volunteerForm").submit()
    //}

</script>

