﻿@model Planetshakers.Events.Mvc.Models.ApplicationFormModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.saveAsDraft)
{

    <div class="row mx-0 px-2">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 border-bottom">
                    <h3>Application Saved as Draft</h3>
                </div>
            </div>
            <div>
                <h5>Thank you for beginning your Mission Trip Application! To continue with your application, click <a href="@Url.Action("Index","Events")"><strong><u>here</u></strong></a> to go back to your Dashboard.</h5>

            </div>
        </div>
    </div>
}
else
{
    <div class="row mx-0 px-2">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 border-bottom">
                    <h3>Application Form Submitted</h3>
                </div>
            </div>
            <div>
                <h5>Thank you for submitting your application form! We will update you with the progress of your application. Click <a href="@Url.Action("Index","Events")"><strong><u>here</u></strong></a> to go back to your Dashboard.</h5>
            </div>
        </div>
    </div>

}