﻿@model Planetshakers.Events.Mvc.Models.CCPaymentModel
@using Planetshakers.Events.Mvc.Controllers;
@using (Html.BeginForm("CCPayment", "Purchase", FormMethod.Post, new { @class = "custom" }))
{

}

@*@model Planetshakers.Events.Mvc.Models.CCPaymentModel
@using Planetshakers.Events.Mvc.Controllers;
@using (Html.BeginForm("CCPayment", "Purchase", FormMethod.Post, new { @class = "custom" }))
{
    <div class="row">
        <div class="large-offset-5 large-7 columns">
            <fieldset>
                <legend>Pay with Credit Card</legend>
                <div class="row">
                    <div class="large-offset-4 large-8 columns">
                        <img class="creditcardimages" src="~/Content/themes/planetshakers/img/creditcardimages.png" />
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        @Html.LabelFor(m => m.CCNumber, new { @class = "inline inline-block" })
                    </div>
                    <div class="large-8 columns">
                        @Html.TextBoxFor(m => m.CCNumber,
                        new { autocomplete = "off" })
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        @Html.LabelFor(m => m.CCExpiryMonth, new { @class = "inline inline-block" })
                    </div>
                    <div class="large-4 small-6 columns">
                        @Html.DropDownListFor(m => m.CCExpiryMonth, Model.CCExpMonthList)
                    </div>
                    <div class="large-4 small-6 columns">
                        @Html.DropDownListFor(m => m.CCExpiryYear, Model.CCExpYearList)
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        @Html.LabelFor(m => m.CCCVC, new { @class = "inline inline-block" })
                    </div>
                    <div class="large-8 columns">
                        @Html.TextBoxFor(m => m.CCCVC,
                        new { autocomplete = "off" })
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        @Html.LabelFor(m => m.CCName, new { @class = "inline inline-block" })
                    </div>
                    <div class="large-8 columns">
                        @Html.TextBoxFor(m => m.CCName,
                        new { autocomplete = "off" })
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        @Html.LabelFor(m => m.CCPhone, new { @class = "inline inline-block" })
                    </div>
                    <div class="large-8 columns">
                        @Html.TextBoxFor(m => m.CCPhone,
                        new { autocomplete = "off" })
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <button type="submit" class="disable-on-submit small button expand">Process Credit Card</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
}*@