﻿@model Planetshakers.Events.Mvc.Models.ConfirmationModel

@{
    ViewBag.Title = "Registration Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var RegType_ID = ViewBag.RegType_ID;
    var GroupLeader_ID = ViewBag.GroupLeader_ID;
    var con = System.Configuration.ConfigurationManager.ConnectionStrings["PlanetshakersEntities"].ConnectionString;
}

@section scripts {
    @Scripts.Render("~/bundles/planetshakers/events/confirmation")
}

<div class="row px-2">
    <div class="col-lg-11 offset-lg-1">
        <div class="row">
            <div class="col-lg-12 border-bottom">
                @*<h3>@ViewBag.Title</h3>*@
                @if (Model.isAddOn || RegType_ID <= -1)
                {
                    <h3>Payment Received</h3>
                }
                else
                {
                    <h3>Payment Received</h3>
                }
            </div>
        </div>
        <div>
            @if (Model.isAddOn)
            {
                <h5>Thank you for paying off your balance for an add on item! Click <a href="@Url.Action("Registrations","Events", new { id=@ViewBag.venueID })"><strong><u>here</u></strong></a> to view details.</h5>
            }
            else if (RegType_ID <= -1)
            {
                <h5>Thank you for paying your remaining balance for @ViewBag.EventName! Click <a href="@Url.Action("Registrations","Events", new { id=@ViewBag.venueID })"><strong><u>here</u></strong></a> to view details.</h5>
            }
            else
            {
                <h5>@*Thank you for registering for @ViewBag.EventName! Click <a href="@Url.Action("ApplicationForm","Application", new { id=@ViewBag.venueID })"><strong><u>here</u></strong></a> to complete your application.*@</h5>
                <h5>Thank you for making a deposit for @ViewBag.EventName! Click <a href="@Url.Action("ApplicationForm","Application", new { id=@ViewBag.venueID })"><strong><u>here</u></strong></a> to complete your application.</h5>
            }
        </div>
    </div>
</div>
