﻿@model Planetshakers.Events.Mvc.Models.LoginPromptModel
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sitekey = "6Lf_BsQUAAAAAIXlPmr7fdShaFntb12yfrO_eVk0";
}

<script src='https://www.google.com/recaptcha/api.js' async defer type="text/javascript"></script>

<script src="https://www.google.com/recaptcha/api.js?render=@sitekey"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute("@sitekey", { action: "login" }).then(function (token) {
            console.log(token);

            $.ajax({
                type: "POST",
                url: "/Account/verifyCaptcha",
                data: { "token": token },
                success: function (response) {
                    console.log(response);

                    if (response.score <= 0.5) {
                        $("#grcaptcha").show();

                        if ($("#grcaptcha").is(":visible")) {
                            $("#logon_submit").attr("disabled", true);
                        }
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        });
    });

    function onRecaptchaCallback() {
        $("#logon_submit").attr("disabled", false);
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <div class="event-reg-container">
            <div class="row event-banner-container">
                <div class="col-lg-12">
                    <img class="event-banner" src="@(Url.Content(Model.Event.banner_img))" alt="">
                </div>
            </div>
            <div class="row mx-0 px-2">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Please sign in or register to proceed!</h3>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6 col-sm-12">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.RawUrl }))
                            {
                                <fieldset>
                                    <legend>Sign in</legend>
                                    <div class="row mb-2">
                                        <div class="col-lg-3">
                                            @Html.LabelFor(m => m.Email, new { @class = "form-label inline font-weight-bolder" })
                                        </div>
                                        <div class="col-lg-8">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-lg-3">
                                            @Html.LabelFor(m => m.Password, new { @class = "form-label inline font-weight-bolder" })
                                        </div>
                                        <div class="col-lg-8">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-7 end">
                                            <div id="grcaptcha" class="g-recaptcha" data-callback="onRecaptchaCallback" data-sitekey="6Lf_BsQUAAAAAIXlPmr7fdShaFntb12yfrO_eVk0" align="center" hidden></div>
                                        </div>
                                        <div class="col-lg-5">
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col-lg-8 end">
                                            <input type="submit" class="btn btn-primary" value="@ViewBag.ButtonSubmit" /> or <a>@Html.ActionLink("Forgot your password?", "ForgetPassword", "Account")</a>
                                        </div>
                                    </div>
                                </fieldset>
                            }

                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <form>
                                <fieldset>
                                    <legend>Register</legend>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>New user? Please proceed to the registration page by clicking on the register button below.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <a href="@Url.Action("Register","Account",new {ReturnUrl = Request.RawUrl })" class="btn btn-primary">Register</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script> 