﻿@model Planetshakers.Events.Mvc.Models.SponsorshipCartModel
@using Planetshakers.Business.External.Events;
@using Planetshakers.Events.Mvc.Controllers;
@{
    ViewBag.Title = "Sponsorship Summary";
    ViewBag.ButtonProceed = "Proceed to payment";
    ViewBag.CalculatedTotalLabel = "Calculated total";
    ViewBag.CalculatedTotalInputName = "total";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/bundles/planetshakers/events/register")
}

<form>
    <div class="row">
        <div class="col-lg-12">
            <div class="event-reg-container">
                <div class="row event-banner-container">
                    <div class="col-lg-12">
                        <img class="event-banner" src="@(Url.Content(Model.Event.banner_img))" alt="">
                    </div>
                </div>
                <div class="row mx-0 px-2">
                    <div class="col-12">
                        <div class="event-summary border-bottom">
                            <h3>@Model.Event.name</h3>
                            <h5 class="subheader">@Model.Event.date</h5>
                            <h5 class="subheader">@Model.Event.location</h5>
                        </div>
                        <h6>Sponsorship Summary</h6>
                        @Html.ValidationSummary(true)
                        @if (Model.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">@Model.ErrorMessage</div>
                        }
                        <table class="footable table-bordered">
                            <thead class="table-active">
                                <tr>
                                    <th data-hide="phone">Sponsorship Amount</th>
                                    <td colspan="4" style="text-align:right">Grand Total: @(Model.Event.currency) @Model.Cart.totalSponsoredAmount</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br />
                        @if (ViewBag.StripePublishKey == "pk_live_3WM2tB4xIu8rEZCNZcSpL8Dn")
                        {
                            <p>
                                <strong>Note: Mastercard or Visa cards only. American Express cards are not accepted.</strong>
                            </p>
                        }
                        <div class="row">
                            <button id="checkout-button" class="col-lg-3 col-md-12 py-1 stripe-checkout-btn" data-secret="@ViewData["SessionID"]">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    var stripe = Stripe('@Model.CCPayment.BankAccount.PublishableKey');

    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function (e) {
        e.preventDefault();

        stripe.redirectToCheckout({
            sessionId : this.getAttribute("data-secret")
        }).then(function (result) {
            console.log(result.error.message);
        });
    })
</script>