﻿@model Planetshakers.Events.Mvc.Models.SponsorshipConfirmModel
@{
    ViewBag.Title = "Sponsorship Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var con = System.Configuration.ConfigurationManager.ConnectionStrings["PlanetshakersEntities"].ConnectionString;
}

@section scripts {
    @Scripts.Render("~/bundles/planetshakers/events/confirmation")
}

<div class="row">
    <div class="col-lg-12">
        <div class="row mx-0 px-2">
            <div class="col-lg-12 border-bottom">
                <h3>@Model.EventName</h3>
            </div>
        </div>
        <div class="mx-0 px-2">
            <div class="col-lg-12">
                <h5>Thank you for Sponsoring for @ViewBag.EventName! Your generosity is appreciated.</h5>
                <p>Your payment might take a while to reflect. Click <a href="@Url.Action("Donation", "Sponsorship", new {Event_ID = Model.Event_ID, GUID = Model.GUID})">here</a> to go back to Sponsorship page.</p>
            </div>

        </div>
    </div>
</div>






