﻿<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 border-bottom">
            <h1>Terms for Sponsorship</h1>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body shadow">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                Thank you for wanting to partner with us and see more people encounter God at one of our Planetshakers events! <br />
                            </p>
                            <p>
                                Below are the terms for sponsorship for this Planetshakers event. 
                            </p>
                            <p>
                                <ul>
                                    <li>You may apply to sponsor any amount (in @ViewBag.currency) as desired. </li>
                                    <li>
                                        Planetshakers will allocate your sponsorship amount towards paying for
                                        registrations for recipients who wish to attend this Planetshakers event but are not financially able to pay. 
                                    </li>
                                    <li>The list of sponsorship recipients will be determined by Planetshakers. </li>
                                    <li>
                                        If your sponsorship amount is not applied to a registration for this event, it may be
                                        applied at Planetshakers’ discretion to sponsoring registrations for future Planetshakers events.
                                    </li>
                                </ul>
                            </p>
                            <p>
                                If you have any questions in relation to the above, please email <a href="mailto:info@believeglobal.org">info@believeglobal.org</a> before you make any sponsorship payments.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
