﻿@model Planetshakers.Events.Mvc.Models.CartModel
@using Planetshakers.Business.External.Events;
@using Planetshakers.Events.Mvc.Controllers;
@{
    ViewBag.Title = "Order Summary";
    ViewBag.ButtonProceed = "Proceed to payment";
    ViewBag.CalculatedTotalLabel = "Calculated total";
    ViewBag.CalculatedTotalInputName = "total";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/bundles/planetshakers/events/register")
}

<form>
    <div class="row">
        <div class="col-lg-12">
            <div class="event-reg-container">
                <div class="row event-banner-container">
                    <div class="col-lg-12">
                        <img class="event-banner" src="@(Url.Content(Model.Event.banner_img))" alt="">
                    </div>
                </div>
                <div class="row mx-0 p-2">
                    <div class="col-sm-12">
                        <div class="event-summary border-bottom">
                            <h3>@Model.Event.name</h3>
                            <h5 class="subheader">@Model.Event.date</h5>
                            <h5 class="subheader">@Model.Event.location</h5>
                        </div>
                        <h6>Order Summary</h6>
                        @Html.ValidationSummary(true)
                        @if (Model.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">@Model.ErrorMessage</div>
                        }
                        <table class="footable table-bordered">
                            <thead class="table-active">
                                <tr>
                                    <th>Quantity</th>
                                    <th>Registration Type</th>
                                    <th data-hide="phone">Single Price</th>
                                    <th data-hide="phone">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CartItem item in Model.Cart)
                                {
                                    <tr>
                                        <td>@(item.quantity)</td>
                                        <td>@(item.reg_name)</td>
                                        <td>@(Model.Event.currency) @(item.single_price)</td>
                                        <td>@(Model.Event.currency) @(item.subtotal)</td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4" style="text-align:right">Grand Total : @(Model.Event.currency) @(Model.GrandTotal)</td>
                                </tr>
                            </tfoot>
                        </table>
                        <br />
                        @if (ViewBag.StripePublishKey == "pk_live_3WM2tB4xIu8rEZCNZcSpL8Dn")
                        {
                            <p>
                                <strong>Note: Mastercard or Visa cards only. American Express cards are not accepted.</strong>
                            </p>
                        }

                        @*<form action="/Purchase/Payment" method="POST">
                            <script src="https://checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button pull-right payment-btn"
                                    data-key=@ViewBag.StripePublishKey
                                    data-locale="auto"
                                    data-description="Event Registration Charge"
                                    data-amount="">
                            </script>
                        </form>*@
                        <div class="row">
                            <button id="checkout-button" class="col-lg-3 col-md-12 py-1 stripe-checkout-btn" data-secret="@ViewData["SessionID"]">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var stripe = Stripe('@Model.CCPayment.BankAccount.PublishableKey');

    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function (event) {
        event.preventDefault(); // Fix for safari
        stripe.redirectToCheckout({
            sessionId: this.getAttribute("data-secret")
        }).then(function (result) {
            if (result.error) {
                alert(result.error.message);
            }
        }).catch(function (error) {
            alert.error('Error:', error);
        });
    });
</script>